.example-spacer {
  flex: 1 1 auto;
}
#h {
  font-weight: 600;
  font-size: 22px;
  color: rgb(63 81 181);
}
/* start style table */
table {
  width: 100%;
  padding: 0 10px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 90%;
}

.filter {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  opacity: 0.4;
}

.filter:hover {
  opacity: 1;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1%;
}

td,
th {
  padding-left: 1px !important;
  text-align: center !important;
  padding-right: 1px !important;
}

@media screen and (max-width: 960px) {
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    content: attr(data-lable);
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.85em;
    position: absolute;
    right: 0;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
    border-bottom: solid 4px rgb(63 81 181);
  }
  .mat-table .mat-cell:first-child {
    margin-top: 1%;
  }

  th {
    display: none;
  }
  td {
    width: 100%;
    display: block;
    position: relative;
    text-align: left !important;
  }
  button {
    position: relative;
    bottom: 9px;
    left: -10px;
  }
}
