<mat-toolbar>
  <span id="h">العملاء</span>

  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="openDialog()">
    إضـافة عمـيـل
  </button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 20px">
    <mat-form-field class="filter">
      <mat-label> Filter</mat-label>

      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <div style="padding-left: 10px">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row" data-lable="id">{{ row.id }}</td>
          </ng-container>
        </div>
        <!-- customersName Column -->
        <ng-container matColumnDef="customersName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم العميل</th>
          <td
            mat-cell
            *ngFor="let client of clients"
            data-lable="customersName"
          >
            {{ client.name }}
          </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            البريد الإلكتروني
          </th>
          <td mat-cell *matCellDef="let row" data-lable="email">email</td>
        </ng-container>

        <!-- telephone Column -->
        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الجوال</th>
          <td mat-cell *matCellDef="let row" data-lable="telephone">
            {{ row.mobile }}
          </td>
        </ng-container>

        <!-- userName Column -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            اسم المستخدم
          </th>
          <td mat-cell *matCellDef="let row" data-lable="userName">userName</td>
        </ng-container>

        <!-- category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>التصنيف</th>
          <td mat-cell *matCellDef="let row" data-lable="category">category</td>
        </ng-container>

        <!-- advertising Column -->
        <ng-container matColumnDef="advertising">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الإعــلان</th>
          <td mat-cell *matCellDef="let row" data-lable="advertising">
            Listing
          </td>
        </ng-container>

        <!-- city Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>المدينة</th>
          <td mat-cell *matCellDef="let row" data-lable="city">
            {{ row.adress }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الأزرار</th>
          <td mat-cell *matCellDef="let row" data-lable="action">
            <button mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="clients"></tr>
        <tr mat-row *matRowDef="let row; columns: clients"></tr>
        

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
