* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Tajawal", sans-serif;
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../../../../assets/images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #26489a;
  z-index: 0;
  color: white;
  padding-bottom: 220px;
  /* display: block; */
  /* overflow: hidden; */
}

.section .content {
  display: block;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  line-height: 30px;
  padding-top: 200px;
  margin-bottom: 30px;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 15px;
}
.section .content h1 {
  margin: 0px 0px 20px 0px;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.3;
  font-family: "Tajawal", sans-serif;
}
.section .content p {
  max-width: 100%;
  text-align: center;
}
.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

@media (max-width: 570px) {
  .text {
    padding: 0;
    font-size: 15px;
  }
  .section {
    width: 100%;
    /* display: block; */
    padding: 0;
    /* margin: 30px; */
  }
  .content {
    margin-top: -100px;
  }
  .form {
    margin-bottom: 20px;
    width: 100%;
  }
  ::ng-deep .mat-select-panel {
    margin-top: 20px;
  }
  .search-box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  #input {
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
  }
  .section .content h1 {
    font-size: 1.9rem;
  }
}

.menu-mat {
  position: relative;
  background-color: #fff;
  color: #000;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.9px #2a2f3b solid;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  font-family: "Tajawal", sans-serif;
  font-weight: normal;
  margin-left: 10px;
}
.list {
  position: absolute;
  width: 100px;
  transition: 10s;
}
.item {
  padding-left: 10px;
  text-align: left;
}
.item:hover {
  background-color: #dbdbdd;
}

form {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.form {
  margin-left: 10px;
  width: 250px;
  height: 52px;
  background-color: #fff;
}

@media (max-width: 675px) {
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section {
    padding: 0;
  }
  .content {
    margin-top: -100px;
  }
  .form {
    width: 80%;
    margin-bottom: 20px;
  }
  .text {
    font-size: 15px;
  }
  button {
    width: 100%;
  }
  ::ng-deep .mat-select-panel {
    margin-top: 20px;
  }
}

@media (max-width: 770px) {
  .text {
    font-size: 15px;
  }
  .section {
    padding: 0;
  }
  .content {
    margin-top: -100px;
  }
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 100%;
    margin-bottom: 20px;
  }
  button {
    width: 100%;
  }
  ::ng-deep .mat-select-panel {
    margin-top: 10px;
  }
}

::mat-form-field {
  /* position: relative; */
  font-family: "Tajawal", sans-serif;
  margin: 10px;
  background-color: #26489a;
}

::ng-deep .mat-select-panel {
  position: absolute;
  margin-top: 43px;
  width: 100%;
  font-family: "Tajawal", sans-serif;
  border-radius: 0;
}

.label {
  color: black;
  font-family: "Tajawal", sans-serif;
}
.option {
  font-family: "Tajawal", sans-serif;
}

.send {
  text-align: center;
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  height: 52px;
  width: 150px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
}

@media (max-width: 365px) {
  .send {
    width: 100px;
    height: 45px;
    padding: 8px;
  }
  ::ng-deep .mat-select-panel {
    margin-top: 33px;
  }
}
