<div class="section">
  <div class="content">
    <div class="all-content">
      <div class="text">
        <h1>البحث عن بائعي الزفاف المحليين</h1>
        <p>
          تصفح أفضل بائعي حفلات الزفاف في منطقتك - من الأماكن والمصورين ، إلى
          منظمي حفلات الزفاف ، ومتعهدي تقديم الطعام ، وبائعي الزهور والمزيد.
        </p>
      </div>

      <div class="drops">
        <form action="">
          <mat-form-field appearance="fill" class="form">
            <mat-label class="label">عن ماذا تبحث</mat-label>
            <mat-select (selectionChange)="getIdForOption($event)">
              <mat-option
                *ngFor="let category of categories"
                value="{{ category.name }}"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form">
            <mat-label class="label">المدينة</mat-label>
            <mat-select (selectionChange)="getIdForOption($event)">
              <mat-option
                *ngFor="let region of regions"
                value="{{ region.name }}"
              >
                {{ region.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <a type="submit" href="vendors/listings/{{engNameCat}}/{{idOptionCat}}/{{engNameReg}}/{{idOptionReg}}"  class="send">بحث</a>
        </form>
      </div>
    </div>
  </div>
</div>
