<div class="overlay">
  <section>
    <div class="container1">
      <div class="close">
        <div class="btn">
          <button (click)="close()" type="button">X</button>
        </div>
      </div>
      <div class="title">
        <h2>إضافة الصور</h2>
      </div>
      <div
        class="all-cont"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div class="container">
          <div class="header">
            <label for="file" class="upload">
                <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15"
                  stroke="#000000"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
            <p>تصفح لاختيار الصور!</p>
            </label>

          </div>
          <label class="footer">
            <svg
              fill="#000000"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
              </g>
            </svg>
            <p>إختر الصور</p>

          </label>
          <form action="" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <input
              multiple
              type="file"
              (change)="onMiniArticlePhotosChange($event)"
              name="file"
              id="file"
              type="file"
            />
            <button (click)="onSubmit()" class="upload-btn" type="submit">رفع الصور</button>

          </form>



        </div>

      </div>
      <div class="urls" *ngIf="urls">
            <h3>الصور المختارة :</h3>
            <ul>
              <li *ngFor="let url of urls">
                <img [src]="url" width="550">
              </li>
            </ul>
          </div>
    </div>
  </section>
</div>

<!-- 
 <input type="file" multiple (change)="onFileSelected($event)">
   <button (click)="uploadPhotos()">Upload Photos</button> -->
