.upload{
  cursor: pointer;
}
.close{
  text-align: right;
}
.close .btn button{
  padding:0 10px ;
  font-size: 40px;
  font-weight: bold;
    color: #333;
}
.close .btn button:hover{
  color: red;
  background-color: #f7f6f6;
  transition: .3s;
  cursor: pointer;
}
.title{
  text-align: center;
}
.title h2,h3{
  font-family: "Tajawal", sans-serif;;
}
.container {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
}

.header {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: black;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  border: none;
}

.footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  text-align: center;
  margin-top: 10px;
}

#file {
  display: none;
}
.upload-btn{
  background-color: #333;
  color: #f7f6f6;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.urls{
  padding: 20px;
  padding-right: 0;
}
.urls h3{
  font-size: 20px;
}
ul{
  display: flex;
  justify-content:space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
li{
  list-style-type:decimal;
  position: relative;
}
li::marker{
  font-size: 20px;
}
