:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 250px;

}
mat-drawer-container {
  height: 100%;
}
.hh {
  box-shadow: 10px 10px black;
}


@media (max-width:600px) {
  mat-drawer-container .side {
    width: 40px;
    background-color: rgb(190, 190, 193);


  }


}

@media (min-width:601px) and (max-width:800px) {
  mat-drawer-container .side {
    width: 170px;
  }
}

@media (min-width:800) and(max-width:1700px) {
  mat-drawer-container .side {
    width: 250px
  }
}
