<div class="container">
  <div class="header">
    <h1>إضافة صالة افراح جديدة</h1>
    <mat-divider> </mat-divider>
    <br />
  </div>

  <div class="form">
    <h2>معلومات الرئيسية</h2>
    <mat-divider></mat-divider>
    <form
      [formGroup]="addListingForm"
      enctype="multipart/form-data"
      (ngSubmit)="onAddListing()"
    >
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>العنوان الرئيسي</mat-label>
        <input
          matInput
          type="text"
          ngModel
          formControlName="title"
          minlength="10"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>فئة</mat-label>
        <mat-select ngModel formControlName="category_id">
          <mat-option value="1" name="category_id"> قاعات الزفاف</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="A">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label> حدد الدولة</mat-label>
          <mat-select ngModel formControlName="country_id">
            <mat-option value="1"> المملكة العربية السعودية </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>الولاية</mat-label>
          <mat-select
            [(ngModel)]="selectedRegion"
            (selectionChange)="onRegionChange()"
            ngModel
            formControlName="region_id"
          >
            <mat-option *ngFor="let region of regions" value="{{ region.id }}">
              {{ region.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>اختر المدينة</mat-label>
          <mat-select
            [(ngModel)]="selectedCity"
            (selectionChange)="onCityChange()"
            ngModel
            formControlName="city_id"
          >
            <mat-option *ngFor="let city of cities" value="{{ city.id }}">
              {{ city.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>اختر الحي</mat-label>
          <mat-select ngModel formControlName="district_id">
            <mat-option
              *ngFor="let district of districts"
              value="{{ district.id }}"
            >
              {{ district.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>اختر الحالة</mat-label>
          <mat-select ngModel formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>العنوان</mat-label>
        <input matInput type="text" ngModel formControlName="address" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Phone</mat-label>
        <input matInput type="number" ngModel formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>E-Mail</mat-label>
        <input matInput type="url" ngModel formControlName="email" />
      </mat-form-field>

      <mat-divider></mat-divider>

      <!--
      <div>
        <label for="file">صورة الغلاف</label>
        <input type="file" (change)="uploadFile($event)" />
        <span *ngIf="success"> Upload success!</span>
      </div>
        -->
      <br />
      <mat-divider></mat-divider>

      <mat-divider></mat-divider>
      <div class="editor">
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          ngModel
          formControlName="descriptions"
        ></textarea>
      </div>

      <br />
      <mat-divider></mat-divider>
      <br />

      <div formArrayName="attributeValueList">
        <div class="A">
          <h2>الصفات الرئيسية</h2>
          <mat-divider></mat-divider>
          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="0"
          >
            <mat-label>سعة قسم الرجال</mat-label>
            <input
              matInput
              class="form-control"
              type="number"
              ngModel
              formControlName="value"
            />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="1"
          >
            <mat-label>سعة قسم النساء</mat-label>
            <input
              matInput
              class="form-control"
              type="number"
              ngModel
              formControlName="value"
            />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="2"
          >
            <mat-label>سعر للشخص الواحد</mat-label>
            <input
              matInput
              class="form-control"
              type="number"
              ngModel
              formControlName="value"
            />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="3"
          >
            <mat-label>عدد القاعات</mat-label>
            <input
              matInput
              class="form-control"
              type="number"
              ngModel
              formControlName="value"
            />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="4"
          >
            <mat-label>سعة قاعة المطعم</mat-label>
            <input
              matInput
              class="form-control"
              type="number"
              ngModel
              formControlName="value"
            />
          </mat-form-field>
        </div>

        <div class="checkbox">
          <h2>الصفات العامة</h2>
          <mat-divider></mat-divider>
          <section class="section">
            <p [formGroupName]="5">
              <mat-checkbox ngModel formControlName="value"
                >مشرفة قاعة</mat-checkbox
              >
            </p>
            <p [formGroupName]="6">
              <mat-checkbox ngModel formControlName="value"
                >مسؤولة عبايات</mat-checkbox
              >
            </p>
            <p [formGroupName]="7">
              <mat-checkbox ngModel formControlName="value"
                >مفتشة جوالات</mat-checkbox
              >
            </p>
            <p [formGroupName]="8">
              <mat-checkbox ngModel formControlName="value"
                >صبابات ومباشرات</mat-checkbox
              >
            </p>
            <p [formGroupName]="9">
              <mat-checkbox ngModel formControlName="value"
                >درج للزفة</mat-checkbox
              >
            </p>
            <p [formGroupName]="10">
              <mat-checkbox ngModel formControlName="value"
                >حراسة امنية</mat-checkbox
              >
            </p>
            <p [formGroupName]="11">
              <mat-checkbox ngModel formControlName="value"
                >غرفة لكبار الزوار VIP
              </mat-checkbox>
            </p>
            <p [formGroupName]="12">
              <mat-checkbox ngModel formControlName="value">ليزر</mat-checkbox>
            </p>
            <p [formGroupName]="13">
              <mat-checkbox ngModel formControlName="value">بخار</mat-checkbox>
            </p>
            <p [formGroupName]="14">
              <mat-checkbox ngModel formControlName="value"
                >الكوشة وتنسيق القاعة</mat-checkbox
              >
            </p>
            <p [formGroupName]="15">
              <mat-checkbox ngModel formControlName="value"
                >مشروبات ساخنة وباردة</mat-checkbox
              >
            </p>
            <p [formGroupName]="16">
              <mat-checkbox ngModel formControlName="value"
                >طهي ذبائح</mat-checkbox
              >
            </p>
            <p [formGroupName]="17">
              <mat-checkbox ngModel formControlName="value"
                >مواقف سيارات</mat-checkbox
              >
            </p>
            <p [formGroupName]="18">
              <mat-checkbox ngModel formControlName="value"
                >التصوير الفوتوغرافي والفيديو</mat-checkbox
              >
            </p>
            <p [formGroupName]="19">
              <mat-checkbox ngModel formControlName="value"
                >عاملات</mat-checkbox
              >
            </p>
            <p [formGroupName]="20">
              <mat-checkbox ngModel formControlName="value"
                >قهوجية للرجال</mat-checkbox
              >
            </p>
            <p [formGroupName]="21">
              <mat-checkbox ngModel formControlName="value"
                >مدخل مستقل للعروس</mat-checkbox
              >
            </p>
            <p [formGroupName]="22">
              <mat-checkbox ngModel formControlName="value"
                >غرفة تجهيز للعروس</mat-checkbox
              >
            </p>
            <p [formGroupName]="23">
              <mat-checkbox ngModel formControlName="value"
                >إمكانية اقامة عدة حفلات في نفس الوقت</mat-checkbox
              >
            </p>
            <p [formGroupName]="24">
              <mat-checkbox ngModel formControlName="value"
                >إضاءة للعروس</mat-checkbox
              >
            </p>
            <p [formGroupName]="25">
              <mat-checkbox ngModel formControlName="value"
                >دي جي - اجهزة صوتية</mat-checkbox
              >
            </p>
            <p [formGroupName]="26">
              <mat-checkbox ngModel formControlName="value"
                >بوفيه الطعام"</mat-checkbox
              >
            </p>
            <p [formGroupName]="27">
              <mat-checkbox ngModel formControlName="value"
                >كيك الزفاف</mat-checkbox
              >
            </p>
            <p [formGroupName]="28">
              <mat-checkbox ngModel formControlName="value"
                >مساحة خارجية للمناسبات</mat-checkbox
              >
            </p>
            <p [formGroupName]="29">
              <mat-checkbox ngModel formControlName="value"
                >السماح بدخول الأطفال</mat-checkbox
              >
            </p>
            <p [formGroupName]="30">
              <mat-checkbox ngModel formControlName="value"
                >مساحة خارجية للمناسبات</mat-checkbox
              >
            </p>
            <p [formGroupName]="31">
              <mat-checkbox ngModel formControlName="value"
                >قاعة طعام منفصلة</mat-checkbox
              >
            </p>
            <p [formGroupName]="32">
              <mat-checkbox ngModel formControlName="value">إضاءة</mat-checkbox>
            </p>
          </section>
        </div>

        <div class="A">
          <h2>الاسئلة</h2>
          <mat-divider></mat-divider>
          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="44"
          >
            <mat-label>كم تبلغ تكلفة حفلات الزفاف؟</mat-label>
            <input matInput type="text" ngModel formControlName="value" />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="45"
          >
            <mat-label>كم تبلغ سعة؟</mat-label>
            <input matInput type="text" ngModel formControlName="value" />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="46"
          >
            <mat-label>السعر أقل عند حجز قاعة النساء فقط؟</mat-label>
            <input matInput type="text" ngModel formControlName="value" />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="47"
          >
            <mat-label>السعر يتضمن العشاء؟</mat-label>
            <input matInput type="text" ngModel formControlName="value" />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="48"
          >
            <mat-label
              >يختلف السعر عند الحجز بأيام العطل و نهاية الاسبوع؟</mat-label
            >
            <input matInput type="text" ngModel formControlName="value" />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="49"
          >
            <mat-label>يمكن الحجز من دون عشاء؟</mat-label>
            <input matInput type="text" ngModel formControlName="value" />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="50"
          >
            <mat-label>ما هو أقل عدد لحجز القاعة؟</mat-label>
            <input matInput type="text" ngModel formControlName="value" />
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            [formGroupName]="51"
          >
            <mat-label>ما هي المناسبات التي يمكن استضافتها؟</mat-label>
            <input matInput type="text" ngModel formControlName="value" />
          </mat-form-field>
        </div>

        <div class="checkbox">
          <h2>كوفيد</h2>
          <mat-divider></mat-divider>
          <section class="section">
            <p [formGroupName]="33">
              <mat-checkbox ngModel formControlName="value"
                >مسافة واسعة بين الطاولات</mat-checkbox
              >
            </p>
            <p [formGroupName]="34">
              <mat-checkbox ngModel formControlName="value"
                >معقم اليدين في اماكن محددة</mat-checkbox
              >
            </p>
            <p [formGroupName]="35">
              <mat-checkbox ngModel formControlName="value"
                >تزويد طاقم الخدمة بالقفازات والأقنعة</mat-checkbox
              >
            </p>
            <p [formGroupName]="36">
              <mat-checkbox ngModel formControlName="value"
                >تطهير كامل قبل كل مناسبة</mat-checkbox
              >
            </p>
            <p [formGroupName]="37">
              <mat-checkbox ngModel formControlName="value"
                >تهوية منتظمة للقاعة</mat-checkbox
              >
            </p>
            <p [formGroupName]="38">
              <mat-checkbox ngModel formControlName="value"
                >مراعاة تدابير التباعد الاجتماعي</mat-checkbox
              >
            </p>
            <p [formGroupName]="39">
              <mat-checkbox ngModel formControlName="value"
                >تطهير كامل قبل كل مناسبة</mat-checkbox
              >
            </p>
            <p [formGroupName]="40">
              <mat-checkbox ngModel formControlName="value"
                >ادوات طعام للاستعمال مرة واحدة"</mat-checkbox
              >
            </p>
            <p [formGroupName]="41">
              <mat-checkbox ngModel formControlName="value"
                >قياس الحرارة عند المدخل</mat-checkbox
              >
            </p>
            <p [formGroupName]="42">
              <mat-checkbox ngModel formControlName="value"
                >مناديل معقمة لكل طاولة</mat-checkbox
              >
            </p>
            <p [formGroupName]="43">
              <mat-checkbox ngModel formControlName="value"
                >تزويد طاقم الخدمة بالقفازات والأقنعة</mat-checkbox
              >
            </p>
          </section>
        </div>
      </div>

      <mat-divider></mat-divider>
      <br />
      <mat-divider></mat-divider>
      <br />

      <!-- start Social Media -->
      <h2>وسائل التواصل الأجتماعي</h2>

      <div class="B" formArrayName="socialMediaList">
        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="0"
        >
          <mat-label>Phone</mat-label>
          <input matInput type="number" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="1"
        >
          <mat-label>E-Mail</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="2"
        >
          <mat-label>WHATSAPP</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="3"
        >
          <mat-label>FACEBOOK</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="4"
        >
          <mat-label>INSTAGRAM</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="5"
        >
          <mat-label>TWITTER</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="6"
        >
          <mat-label>TIKTOK</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="7"
        >
          <mat-label>SNAPCHAT</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="8"
        >
          <mat-label>PRIVATE</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="9"
        >
          <mat-label>YOUTUBE</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="10"
        >
          <mat-label>PINTEREST</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="11"
        >
          <mat-label>TELEGRAM</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="12"
        >
          <mat-label>LINKEDIN</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [formGroupName]="13"
        >
          <mat-label>OTHER</mat-label>
          <input matInput type="url" ngModel formControlName="path" />
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <button mat-raised-button color="primary" type="submit">إضـافة</button>
      <button mat-raised-button color="accent" type="button">معاينة</button>
      <button
        mat-raised-button
        color=""
        type="button"
        (click)="reset(addListingForm)"
      >
        اعادة تعليين
      </button>
    </form>
  </div>
</div>
