* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  the main div  */
.container {
  padding: 15px;
  height: vh100;
  width: vw100;
  background-color: #f3f3f3;
}
/* header the form*/
.header {
  padding-top: 20px;
  direction: rtl;
  margin: auto;
  max-width: 1200px;
}
/* stard style form  */
.form {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  max-width: 1200px;
}
h2 {
  padding-top: 5px;
  padding-right: 10px;
  direction: rtl;
}
/* input in form */
.example-full-width {
  width: 100%;
  padding: 10px 10px;
}
.mat-form-field {
  font-size: 16px;
  padding-bottom: 0px;
}
.A,
.B {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
/*  */
.editor {
  width: 100%;
  padding: 10px;
}

.editor textarea {
  width: 100%;
  max-width: 100%;
}
/*  */
/* map googel style */
.map {
  display: flex;
  justify-content: space-around;
  border: 1px rgba(224, 224, 224, 1) solid;
  border-radius: 5px;
  width: calc(100% - 20px);
  margin: 10px;
}
/*checkbox  */
.checkbox {
  width: 100%;
  margin-right: 10px;
}
.section {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

h2 {
  color: #3f51b5;
}
/* start add file */

.file {
  padding: 20px;
}

.input {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
#button-file {
  padding: 0 5px;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  margin-top: 10px;
}
.container2 div {
  background-color: #3f51b5;
  width: 100%;
  height: 100%;
}
.mat-icon-button {
  color: rgb(10, 6, 59);
}

.close {
  width: 80%;
  display: flex;
  align-items: center;
}

.close p {
  margin: auto 0;
}

/* end  */
@media (max-width: 300px) {
  .A,
  .B {
    grid-template-columns: repeat(1, 100%);
  }

  .section {
    grid-template-columns: repeat(1, auto);
  }

  .container2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (min-width: 301px) and (max-width: 450px) {
  .A,
  .B {
    grid-template-columns: repeat(1, 100%);
  }

  .section {
    grid-template-columns: repeat(2, auto);
  }

  .container2 {
    grid-template-columns: repeat(2, auto);
  }
}
