<section>
  <div class="container">
    <div class="img">
      <img src="{{ listing.coverImg }}" alt="" width="45%" />
    </div>
    <div class="content">
      <div class="head">
        <h2>حول مكان الزفاف</h2>
        <hr />
      </div>
      <div class="box">
        <p [innerHTML]="listing.descriptions"></p>
      </div>

      <div class="box QASBox">
        <h2>بعض الإستفسارات المتكررة :</h2>
        <hr />
        <div>
          <p></p>
        </div>
        <div class="QAS" *ngFor="let item of listing.attributeValueList">
          <div class="QAS" *ngIf="item.typ === 'QUESTIONS'">
            <h3>{{ item.attribute }}</h3>
            <li>{{ item.value }}</li>
          </div>
        </div>
      </div>

      <div class="box">
        <table>
          <tr id="header">
            <th style="width: 150px">معلومات عن المكان</th>
            <th></th>
          </tr>
          <tr *ngFor="let item of listing.attributeValueList">
            <td *ngIf="item.typ === 'MAIN'">{{ item.attribute }}</td>
            <td *ngIf="item.typ === 'MAIN'">{{ item.value }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
