* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

section {
  width: 100%;
  /* height: 110%; */
  margin-top: 30px;
}
.img {
  padding-bottom: 20px;
}
section .content {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 60%;
  padding: 30px;
  margin-bottom: 30px;
}
.container {
  margin-right: 160px;
  /* margin-bottom: 300px; */
}
h3 {
  color: #252328;
  font-family: "Tajawal", sans-serif;
}
h2 {
  font-weight: 700;
  font-size: 20px;
  font-family: "Tajawal", sans-serif;
}
h3 {
  font-weight: 600;
  font-size: 15px;
}
p {
  color: rgb(37, 35, 40);
  font-size: 14px;
}
hr {
  margin: 10px;
  background-color: #e6e5e7;
  opacity: 1;
  right: 0;
}
.box {
  font-family: "Tajawal", sans-serif;
}
.box p {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
}
table {
  /* position: absolute; */
  border-collapse: collapse;
  width: 100%;
  height: 200px;
  border: 1px solid #bdc3c7;
  /* display: block; */
  /* margin-bottom: 100px; */
}

tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

th,
td {
  padding: 12px;
  text-align: right;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

#header {
  background-color: #16a085;
  color: #fff;
}

tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  table {
    width: 100%;
  }
  .img img {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .container {
    margin-right: 10px;
    margin-left: 10px;
  }
  section .content {
    width: 100%;
  }
}

.QASBox {
  padding-top: 20px;
  padding-bottom: 20px;
}

.QAS {
  margin-bottom: 10px;
  padding-left: 10px;
}

.QAS li {
  padding-right: 15px;
  line-height: 1.5;
  list-style: disc;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

li::marker {
  font-size: 15px;
  color: #333;
  text-align: center;
}
