
html, body { height: 100%;overflow-x: hidden;width: 100%;direction: rtl; }
body { margin: 0; font-family: 'Tajawal', sans-serif;
}
*{
    font-family: 'Tajawal', sans-serif;

}

::-webkit-scrollbar {
  width: 6px;

}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(63 81 181);
  border-radius: 5px;
}


button {
  border: none;
  outline: none;
  background: none;
  user-select: none;
}
.green-snackbar {
  background: rgb(52, 197, 29);
  color: white;
  font-size: 25px;
  font-weight: 900;
}
.green-snackbar button {
  background-color: rgb(52, 197, 29);
  color: white;
  border: none;
  font-size: 18px;
}
.red-snackbar {
  background: #f44336;
  color: white;
  font-weight: 900;
}
.red-snackbar button {
  background-color: #f44336;
  color: white !important;
  font-size: 18px;
  border: none;
}
.my-custom-snackbar {
  margin: 0 !important;
  position: absolute;
  left: 25px;
  top: 100px;
  max-width: 200px;
}
@media(max-width:1200px){
  .my-custom-snackbar{
    top: 650px;
  }
}
@media(max-width:585px){
  .my-custom-snackbar{
    width: 200px;
  }
}
input::placeholder,
label {
  user-select: none;
}
/* button:disabled{
  background-color: #f44336;
} */
