h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "Tajawal", sans-cserif;
}
.input {
  margin: 5px;
}
.form {
  /* padding: 30px;
  display: flex;
  justify-content: center;
  width: 100%; */
}
form {
  width: 100%;
}
::ng-deep mat-label {
  font-size: 18px;
  color: #414141;
}
label {
  font-size: 18px;
  background-color: #1aa3bb;
  padding: 8px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
}

input,
mat-select {
  padding: 4px;
  font-size: 18px;
  color: #414141;
}
::ng-deep .mat-select-panel {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  font-family: "Tajawal", sans-cserif;
  border-radius: 0;
  padding: 10px;
}
.img {
  margin-bottom: 30px;
}
.btns {
  padding: 4px;
  display: flex;
  gap: 20px;
}
.btn button {
  font-size: 18px;

  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.btns .btn .add {
  background-color: rgb(0, 85, 255);
}
.btns .btn .reset {
  background-color: rgb(69, 213, 37);
}
@media (max-width: 630px) {
  img {
    width: 100%;
  }
}
.close {
  text-align: right;
}
.close .btn button {
  padding: 0 10px;
  font-size: 40px;
  font-weight: bold;
  /* background-color:rgb(0, 85, 255);
    color: #fff; */
  color: #333;
}
.close .btn button:hover {
  color: red;
  background-color: #f7f6f6;
  transition: 0.3s;
}
button:disabled {
  opacity: 0.6;
}
h2{
  font-family: "Tajawal", sans-cserif;
display: inline;
font-size: 20px;
margin-left: 15px;
}

