<section>
  <div class="container">
    <div class="close">
      <div class="btn">
        <button (click)="close()" type="button">X</button>
      </div>
    </div>
    <div class="content" style="margin-top: 20px">
      <div class="head">
        <h1>إضافة صفة</h1>
      </div>
      <div class="form">
        <form action="" [formGroup]="createAtt">
          <div class="input">
            <mat-form-field style="width: 100%">
              <mat-label>الاسم</mat-label>
              <input formControlName="name" matInput type="text" />
            </mat-form-field>
          </div>
          <div class="input">
            <mat-form-field style="width: 100%;" class="example-full-width" >
              <mat-label>الفئة</mat-label>
              <input
                type="number"
                matInput
                [formControl]="myControl"
                formControlName="category_id"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
                (optionSelected)="onOptionSelected($event)"
              >
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="input">
            <mat-form-field style="width: 100%">
              <mat-label>نوع القيمة</mat-label>
              <mat-select
                formControlName="valueType"
                (selectionChange)="select_attribute_value_type($event.value)"
              >
                <mat-option
                  *ngFor="let item of valueType"
                  [value]="item"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input">
            <mat-form-field style="width: 100%">
              <mat-label>نوع الصفة</mat-label>
              <mat-select
                formControlName="attributeType"
                (selectionChange)="select_attribute_type($event.value)"
              >
                <mat-option [value]="'MAIN'">صفة رئيسية</mat-option>
                <mat-option [value]="'GENERAL'">صفة عامة</mat-option>
                <mat-option [value]="'COVID'">صفة لكوفيد</mat-option>
                <mat-option [value]="'QUESTIONS'">صفة سؤال</mat-option>
                <mat-option [value]="'SECONDARY'">صفة اضافية</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input">
            <mat-form-field style="width: 100%">
              <mat-label>الوحدة</mat-label>
              <input matInput type="text" formControlName="unit" />
            </mat-form-field>
          </div>
          <div class="input" style="display: flex">
            <h2>هل هذه الصفة فعالة : </h2>
            <mat-slide-toggle style="margin-top: 6px;" color="primary" (change)="onToggleChange($event)"
              ></mat-slide-toggle
            >
          </div>

          <div class="btns" >
            <div class="btn">
              <button class="add" (click)="add()" [disabled]="createAtt.valid">
                إضـافة
              </button>
            </div>

            <div class="btn">
              <button class="reset" (click)="reset(createAtt)">
                إعادة تعيين
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
