* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

body {
  padding-top: 30px;
  background: url(../../../../../../assets/images/couple-bg-img.jpg);
  background-size: cover;
  height: 100%;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin-top: -35px;
  width: 80px;
}

.example-card {
  width: 370px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-tab-group {
  text-align: center;
  width: 100%;
}

.content {
  top: 0;
  width: 100%;
}

@media (max-width: 370px) {
  .content {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.top-reg {
  padding: 10px;
  line-height: 1;
  text-align: right;
}
.top-reg h3 {
  font-size: 18px;
  line-height: 28px;
  color: #252328;
  margin: 0px 0px 15px 0px;
}
.top-reg p {
  font-size: 16px;
  line-height: 26px;
  color: #6f6d72;
}

.form-reg input {
  display: block;
  width: 85%;
  /* height: 40px; */
  /* padding: 8px; */
  font-size: 18px;
  margin-bottom: 5px;
}

.form-reg input.date-input {
  display: inline;
  float: right;
  width: 85%;
  margin: 2px;
}

.btn-reg {
  display: block;
  margin-top: 17px;
  color: #fff;
  background-color: #ff4d4d;
  font-size: 18px;
  /* height: 50px; */
  font-weight: 400;
  border: none;
  width: 70px;
  padding: 5px;
  cursor: pointer;
}
button:disabled{
  opacity: 0.5;
}

.already-login {
  margin-top: 8px;
  color: #6f6d72;
}
.already-login span {
  color: #252328;
  font-size: 15px;
}

.handle {
  /* padding: 5px; */
  color: red;
  margin-bottom: 5px;
  margin-top: -5px;
}

.mat-label{
  font-size: 18px;
}
input::placeholder {
  color: #444;
}

.date-input::placeholder {
  color: #444;
}


h3{
  font-family: "Tajawal", sans-serif;
}
