<body>
  <div class="all">
    <div class="logo">
      <a href="">
        <img
          src="../../../../../../assets/images/new-logo-black-removebg-preview.png"
          alt=""
        />
      </a>
    </div>

    <section>
      <div class="content">
        <div class="form">
          <mat-card class="example-card">
            <mat-card-header> </mat-card-header>
            <mat-card-content>
              <mat-tab-group animationDuration="10ms">
                <mat-tab label="تسجيل">
                  <div class="top-reg">
                    <h3>مستخدم جديد؟ تسجيل</h3>
                    <!-- <p>نحن لا ننشر أي شيء دون إذنك.</p> -->
                  </div>

                  <form
                    action=""
                    class="form-reg"
                    [formGroup]="registerForm"
                  >
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                    >
                      <mat-label> الإسم الأول</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="firstname"
                      />
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                    >
                      <mat-label> الإسم الأخير</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="lastname"
                      />
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                    >
                      <mat-label> الإيميل</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="email"
                      />
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                    >
                      <mat-label> كلمة المرور</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="password"
                      />
                    </mat-form-field>

                    <button
                      type="submit"
                      class="btn-reg"
                      [disabled]="registerForm.invalid"
                    (click)="register()"
                    >
                      تسجيل
                    </button>
                  </form>

                  <div class="already-login">
                    <p>
                      <!-- هل لديك حساب بالفعل ؟ إذهب إلى <span> تسجيل دخول</span> -->
                    </p>
                  </div>
                </mat-tab>

                <mat-tab label="تسجيل دخول" class="tab">
                  <div class="top-reg">
                    <h3>تسجيل الدخول إلى حسابك</h3>
                    <p>
                      سجّل الدخول للتخطيط ليومك المثالي باستخدام أدوات التخطيط
                      لدينا والإلهام المزيد ...
                    </p>
                  </div>

                  <form
                    action=""
                    class="form-reg"
                    [formGroup]="loginForm"
                    (ngSubmit)="submitLogin()"
                  >
                    <span
                      class="handle"
                      *ngIf="
                        LoginEmail && LoginEmail.invalid && LoginEmail.touched
                      "
                    >
                      يرجى إدخال إيميل صالح
                    </span>
                    <input
                      type="email"
                      required
                      placeholder="الإيميل"
                      formControlName="emailLogin"
                    />
                    <span
                      class="handle"
                      *ngIf="
                        LoginPass && LoginPass.invalid && LoginPass.touched
                      "
                    >
                      يرجى إدخال كلمة مرور تكون على الأقل 8 محارف
                    </span>
                    <input
                      type="password"
                      required
                      placeholder="كلمة المرور"
                      formControlName="passwordLogin"
                    />

                    <button
                      type="submit"
                      class="btn-reg"
                      style="width: 150px"
                      [disabled]="loginForm.invalid"
                    >
                      تسجيل الدخول
                    </button>
                  </form>

                  <div class="already-login">
                    <!-- <p>هل أنت جديد هنا ؟ إذهب إلى <span> تسجيل </span></p> -->
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </section>
  </div>
</body>
