<mat-toolbar>

  <span id="h">التصنيف</span>

  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="openDialog()" id="btn">
    إضـافة تصنيف
  </button>
</mat-toolbar>


<h1>التصنيفات</h1>
<div class="container">
  <div style="margin-top: 20px">
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <div style="padding-left: 10px">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row" data-lable="id">{{ row.id }}</td>
          </ng-container>
        </div>
        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            الاسم
          </th>
          <td mat-cell *matCellDef="let row" data-lable="name">
            {{ row.name }}
          </td>
        </ng-container>
        <!-- active Column -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>النشاط</th>
          <td mat-cell *matCellDef="let row" data-lable="active">
            {{ row.active }}
          </td>
        </ng-container>





        <!-- actoin -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الأزرار</th>
          <td mat-cell *matCellDef="let row" data-lable="action">
            <button mat-icon-button color="primary" [routerLink]="['/admin/update/'+row.id]"><!-- (click)="editCategory(row)"-->
              <mat-icon >edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCategory(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20 ]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>


