* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f5f7;
}
.container {
  padding-left: 160px;
  padding-right: 160px;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 25px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e6e5e7;
}
.card .img {
  overflow: hidden;
  width: 280px;
  margin-bottom: -8px;
  text-align: center;
  padding: 10px 0;
  /* padding: 20px; */
}
.card .img img {
  margin: 10px 0;
  width: 230px;
  transition: 0.4s;
  border-radius: 10px;
}
.card .img img:hover {
  transform: scale(1.07);
  cursor: pointer;
}
.card .img img:hover .img {
  width: 230px;
}
.text {
  padding: 26px;
  border: 1px solid #e5e6e7;
  background-color: #fff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.title {
  padding: 10px;
}
.title a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: "Tajawal", sans-serif;
}
.title a:hover {
  color: #ff4d4d;
}
.small-content {
  height: 40px;
  overflow-y: hidden;
  font-family: "Tajawal", sans-serif;
}
.read-more {
  position: relative;
  top: 8px;
  margin-bottom: -10px;
  color: #ff4d4d;
  border-bottom: 1px solid #ff4d4d;
  text-decoration: none;
  font-weight: 500;
  font-family: "Tajawal", sans-serif;
}
.read-more:hover {
  color: #de3e3e;
  border-color: #de3e3e;
}

@media (max-width: 1065px) {
  .container {
    padding: 0;
  }
}
