<section>
  <div class="container">
    <div class="cards">
      <div class="card" *ngFor="let article of articles">
        <div class="img">
          <a href="blog/article/{{article.id}}" target="_blank">
            <img src="{{article.coverImg}}" alt="">
          </a>


        </div>
        <div class="text">
          <div class="title">
          <a href="blog/article/{{article.id}}" target="_blank">
            {{article.title}}
          </a>
        </div>
        <div class="info">
          <source>
          <p>الوقت المقدر للقراءة :{{article.readTime}} دقائق</p>
        </div>
        <!-- <div class="small-content"  *ngFor="let item of articles.changingThisBreaksApplicationSecurity">
          <p>
            {{item.content}}
          </p>
        </div> -->
        <a class="read-more" href="blog/article/{{article.id}}" target="_blank">
          اقرأ التفاصيل
        </a>
        </div>

      </div>






</div>

  </div>
</section>
