* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
main {
  width: 100%;
  /*background: red;*/
  position: relative;
  padding-top: 30px;
  padding-bottom: 120px;
  background-color: rgb(246, 245, 247);
}
main .text {
  padding: 30px;
  padding-bottom: 30px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.text h2 {
  font-size: 28px;
  line-height: 38px;
  color: #252328;
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-family: "Tajawal", sans-serif;
}
.text p {
  /* width: 60%; */
  padding: 5px;
  margin: auto;
  line-height: 30px;
  color: #6f6d72;
}
hr {
  position: absolute;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c0bfc4;
  opacity: 0.4;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  /* width: 300px; */
  /* position: relative; */
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e6e5e7;
  overflow: hidden;
  transition: 0.3s;
  /* margin-bottom: 200px; */
}
.box .img{
  overflow: hidden;
}
.box img {
  width: 300px;
  height: 300px;
  transition: 0.3s;
}
.box:hover img {
  transform: scale(1.1);
}
.couple {
  margin: 8px;
  font-family: "Tajawal", sans-serif;
}
.couple a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.couple:hover a {
  color: #ff4d4d;
}
.info {
  display: flex;
  margin: 4px;
  text-align: right;
  font-size: 8px;
}
.info .date {
  position: relative;
  margin-left: 10px;
}
.info .date::before {
  content: "";
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgb(226, 131, 119);
  bottom: 0;
}
.btn {
  position: absolute;
  /* left: 50%;
  bottom: 7%;
  transform: translate(-50%, -5%); */
  right: 50%;
  transform: translateX(50%);
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background-color: #ff4d4d;
  width: 200px;
  border: none;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  /* margin-top: 200px; */
  /* margin-top: 10%; */
  /* top: 85%; */
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
}
