<main>
  <hr />
  <div class="text">
    <h2>حفلات زفاف حقيقية</h2>
    <p>إلهام حقيقي من عروسين حقيقيين. احصل على أفكار للعرسان والعرائس.</p>
  </div>

  <div class="container">
    <div class="box">
      <div class="img">
        <a href="#">
          <img
            src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-36-38.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="couple"><a href="">أحمد & سارة</a></div>
      <div class="info">
        <div class="date">07 May, 2018</div>
        <div class="location">سويسرا</div>
      </div>
    </div>
    <div class="box">
      <div class="img">
        <a href="#">
          <img
            src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-37-15.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="couple"><a href="">أحمد & سارة</a></div>
      <div class="info">
        <div class="date">07 May, 2018</div>
        <div class="location">سويسرا</div>
      </div>
    </div>
    <div class="box">
      <div class="img">
        <a href="#">
          <img
            src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-37-14.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="couple"><a href="">أحمد & سارة</a></div>
      <div class="info">
        <div class="date">07 May, 2018</div>
        <div class="location">سويسرا</div>
      </div>
    </div>
  </div>

  <div class="link">
    <a href="" class="btn">شاهد المزيد من حفلات الزفاف الحقيقية</a>
  </div>
</main>
