:host ::ng-deep .mat-list-item-content {
  padding: 5px !important;
} /* to control the padding */

/* style header */
.profile-card {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}
.header {
  line-height: 0px;
}
.header h4 {
  opacity: 0.8;
}
.header a {
  color:rgb(63 81 181);;
}
.header a:hover {
  color: deeppink;
}

img {
  object-fit: cover;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

/* header end */
.mat-icon {
  padding-left: 5px;
  font-size: 20px;
}
.dflex {
  display: flex;
}

/* Set the effects to the division
    named content */
.Content {
  height: 200px;
  color: white;
  text-align: center;
}

.mat-list-option:hover {
  color:rgb(63 81 181);
  background-color: #dedada;
}

@media (max-width: 600px) {
  mat-nav-list {
    display: none;
  }
  div span {
    display: none;
  }
  .dflex {
    color: rgb(63 81 181);
    width: 40px;
  }
}

@media (min-width:601px) and (max-width:800px) {

  .dflex {
    width:100%;
  }
  mat-nav-list div{
    display: block;
  }

  mat-nav-list img{
    margin-right:30px ;
    margin-top: 20px;
  }
  .profile-card{
    margin: 0;
    padding: 0;
  }
  .header h4{
    margin-right: 20px;

  }
  .header a{
    margin-right: 30px;
  }
}


