
<mat-nav-list style="z-index: -2000;">
  <div class="profile-card">
    <div class="header">
      <h4>issam alayoubi</h4>
      <a routerLink="">Edit Profile</a>
    </div>
    <img
      src="https://media.istockphoto.com/id/1322277517/photo/wild-grass-in-the-mountains-at-sunset.jpg?s=612x612&w=0&k=20&c=6mItwwFFGqKNKEAzv0mv6TaxhLN3zSE43bWmFN--J5w="
      alt="الصورة الشخصية">
  </div>
</mat-nav-list>
<mat-divider></mat-divider>

<mat-selection-list #shoes [multiple]="false">

  <mat-list-option routerLink="/admin">
    <div class="dflex">
      <mat-icon>dashboard</mat-icon><span>لوحة القيادة</span>
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/admin/listings">
    <div class="dflex">
      <mat-icon>list_alt</mat-icon><span>الإعلانات </span>
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/admin/posts">
    <div class="dflex">
      <mat-icon>money</mat-icon><span>خطة التسعير</span>
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/admin/categories">
    <div class="dflex">
      <mat-icon>border_color</mat-icon><span> التصنيفات </span>
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/admin/customers">
    <div class="dflex">
      <mat-icon>sentiment_very_satisfied</mat-icon><span>العملاء</span>
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/admin/articles">
    <div class="dflex">
      <mat-icon>article</mat-icon><span> المقالات</span>
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/d/customer">
    <div class="dflex">
      <mat-icon>perm_identity</mat-icon><span>ملفي</span>
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/d/customer">
    <div class="dflex">
      <mat-icon>exit_to_app</mat-icon><span>تسجيل الخروج</span>
    </div>
  </mat-list-option>

</mat-selection-list>




