
  <section id="image-slider">
    <article id="slider">
      <input checked type="radio" name="slider" id="slide1" />
      <input type="radio" name="slider" id="slide2" />
      <input type="radio" name="slider" id="slide3" />
      <input type="radio" name="slider" id="slide4" />
      <input type="radio" name="slider" id="slide5" />
      <div id="slides">
        <div id="container">
          <div class="inner">
            <!-- <article *ngFor="let item of listing">
              <img
                src="{{item}}"
              />
            </article> -->


          </div>
        </div>
      </div>
      <div id="commands">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div>
      <div id="active">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div>
    </article>
  </section>

