section {
  /* background-color: aqua; */
  /* margin-right: 144px; */
  /* margin-top: 30px; */
  /* position: relative; */
}

#slider {
  /* position: absolute;
  width: 100%;
  height: 100%; */
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article {
  display: block;
}
body {
  /* background: #f0523f; */
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 16px;
  margin: 12px 0;
}
span {
  margin: 35px 0 5px;
  font-size: 26px;
  font-weight: normal;
  color: #fff;
}

h2 {
  margin: 40px 0 25px;
  border-bottom: 1px solid #bbb;
  padding: 0 0 10px;
}
p {
  margin: 20px 0 16px;
}
strong {
  font-weight: bold;
}
label,
a {
  color: brown;
  cursor: pointer;
  text-decoration: none;
  font-style: italic;
}
label:hover,
a:hover {
  color: #ddd !important;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
label,
#active,
img {
  user-select: none;
}
.catch {
  display: block;
  height: 0;
  overflow: hidden;
}
#slider {
  margin: 0 auto;
}
input {
  display: none;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slide5:checked ~ #slides .inner {
  margin-left: -400%;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.inner article {
  position: relative;
  width: 100%;
  height: 100%;
}
article img {
  /* position: absolute; */
  width: 100%;
}
#slides .inner {
  width: 500%;
  line-height: 0;
}
#slides article {
  width: 20%;
  float: left;
}
#commands {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}
#commands label {
  display: none;
  width: 80px;
  height: 80px;
  opacity: 0.5;
}
#commands label:hover {
  opacity: 0.8;
}
#active {
  position: relative;
  z-index: 5;
  margin: 16% 0 0;
  text-align: center;
}
#active label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}
#active label:hover {
  background: #333;
  border-color: #777 !important;
}

#commands label {
  /* position: relative; */
  /* top:-100% */
}

#slide1:checked ~ #commands label:nth-child(2),
#slide2:checked ~ #commands label:nth-child(3),
#slide3:checked ~ #commands label:nth-child(4),
#slide4:checked ~ #commands label:nth-child(5),
#slide5:checked ~ #commands label:nth-child(1) {
  background: url("https://0.s3.envato.com/files/84450220/img/next.png")
    no-repeat;
  /* top: 30%; */
  float: right;
  margin-right: 20px;
  display: block;
}
#slide1:checked ~ #commands label:nth-child(5),
#slide2:checked ~ #commands label:nth-child(1),
#slide3:checked ~ #commands label:nth-child(2),
#slide4:checked ~ #commands label:nth-child(3),
#slide5:checked ~ #commands label:nth-child(4) {
  background: url("https://0.s3.envato.com/files/84450220/img/previous.png")
    no-repeat;
  /* top: 10%; */
  float: left;
  /* margin: -40px 0 0 0; */
  display: block;
}
#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
  background: #000;
  opacity: 0.6;
  border-color: #fff !important;
  border: 2px solid #fff;
}
.caption {
  line-height: 20px;
  margin: 0 0 -150%;
  position: absolute;
  padding: 320px 12px;
  opacity: 0;
  color: #fff;
  text-transform: none;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 18px;
}
.caption p {
  display: inline-block;
  padding: 10px;
  background: #000;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  opacity: 0.7;
  /* filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); */
}
#slides {
  position: relative;
  padding: 15px;
  border: 1px solid #ddd;
  margin: 45px 0 0;
  background: #fff;
  background: -webkit-linear-gradient(#fff, #fff 20%, #eee 80%, #ddd);
  background: -moz-linear-gradient(#fff, #fff 20%, #eee 80%, #ddd);
  background: -ms-linear-gradient(#fff, #fff 20%, #eee 80%, #ddd);
  background: -o-linear-gradient(#fff, #fff 20%, #eee 80%, #ddd);
  background: linear-gradient(#fff, #fff 20%, #eee 80%, #ddd);
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
#slides .inner {
  transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
#slider {
  padding: 20px;
  transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#commands label {
  transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
#slide1:checked ~ #slides article:nth-child(1) .caption,
#slide2:checked ~ #slides article:nth-child(2) .caption,
#slide3:checked ~ #slides article:nth-child(3) .caption,
#slide4:checked ~ #slides article:nth-child(4) .caption,
#slide5:checked ~ #slides article:nth-child(5) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}
#commands,
#commands label,
#slides,
#active,
#active label {
  transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#active {
  display: flex;
  justify-content: center;
  align-items: center;
}
#active label {
  margin-left: 10px;
}
#slider {
  max-width: 960px;
}

#image-slider {
  direction: ltr;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

@media (max-width: 700px) {
  #image-slider {
    height: 500px;
  }
  #slide1:checked ~ #commands label:nth-child(5),
  #slide2:checked ~ #commands label:nth-child(1),
  #slide3:checked ~ #commands label:nth-child(2),
  #slide4:checked ~ #commands label:nth-child(3),
  #slide5:checked ~ #commands label:nth-child(4) {
    width: 100px;
  }
  #slide1:checked ~ #commands label:nth-child(2),
  #slide2:checked ~ #commands label:nth-child(3),
  #slide3:checked ~ #commands label:nth-child(4),
  #slide4:checked ~ #commands label:nth-child(5),
  #slide5:checked ~ #commands label:nth-child(1) {
    width: 100px;
    margin-right: 8px;
  }
}

@media (max-width: 580px) {
  #image-slider {
    height: 400px;
  }
  #slide1:checked ~ #commands label:nth-child(5),
  #slide2:checked ~ #commands label:nth-child(1),
  #slide3:checked ~ #commands label:nth-child(2),
  #slide4:checked ~ #commands label:nth-child(3),
  #slide5:checked ~ #commands label:nth-child(4) {
    width: 70px;
  }
  #slide1:checked ~ #commands label:nth-child(2),
  #slide2:checked ~ #commands label:nth-child(3),
  #slide3:checked ~ #commands label:nth-child(4),
  #slide4:checked ~ #commands label:nth-child(5),
  #slide5:checked ~ #commands label:nth-child(1) {
    width: 70px;
    margin-right: 32px;
  }
}

@media (max-width: 450px) {
  #image-slider {
    height: 300px;
  }
  #slide1:checked ~ #commands label:nth-child(5),
  #slide2:checked ~ #commands label:nth-child(1),
  #slide3:checked ~ #commands label:nth-child(2),
  #slide4:checked ~ #commands label:nth-child(3),
  #slide5:checked ~ #commands label:nth-child(4) {
    transform: scale(0.7);
  }
  #slide1:checked ~ #commands label:nth-child(2),
  #slide2:checked ~ #commands label:nth-child(3),
  #slide3:checked ~ #commands label:nth-child(4),
  #slide4:checked ~ #commands label:nth-child(5),
  #slide5:checked ~ #commands label:nth-child(1) {
    transform: scale(0.7);
    margin-right: 20px;
  }
}
