* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}
.container {
  float: right;
  /* margin-top: 700px; */
  padding-right: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card {
  width: 50%;
  height: 90%;
  background-color: rgb(233, 235, 233);
  padding: 10px;
  margin-bottom: 30px;
}
.review-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b0aeb1;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
  color: #252328;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .img {
  overflow: hidden;
  margin-left: 15px;
}
.profile .img img {
  border-radius: 50%;
}
.info {
  line-height: 1.5;
}
.info .name {
  font-size: 18px;
  font-weight: 500;
}
.info .star span {
  font-size: 11px;
}
.date {
  font-size: 13px;
  color: #252328;
}
.review-content {
  width: 90%;
}
.review-content p {
  line-height: 1.6;
  color: #252328;
}
