
<section>
  <div class="container">
    <div class="card">
      <div class="review-head">
        <div class="profile">
          <div class="img">
            <img
              src="../../../../../../assets/images/review-pic-1.jpg"
              alt=""
            />
          </div>
          <div class="info">
            <div class="name">أحمد يونس</div>
            <div class="star">
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
            </div>
          </div>
        </div>
        <div class="date">12/12/2022</div>
      </div>
      <div class="review-content">
        <p>
          جعبة موربي ناعمة وكبيرة. الآن نحن بحاجة إلى شرب قدر من البروتين ، في
          حاجة إلى الألم. الطبقة مناسبة للشركاء الصامتين ، الذين يتأرجحون من
          خلال زواجنا. غدا ultrices قيل من قبل أو الهدف. اينين ​​هو عنصر من
          عناصر الموظف. دائما أو إلى الأبد.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="review-head">
        <div class="profile">
          <div class="img">
            <img
              src="../../../../../../assets/images/review-pic-2.jpg"
              alt=""
            />
          </div>
          <div class="info">
            <div class="name">كندا حنا</div>
            <div class="star">
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
            </div>
          </div>
        </div>
        <div class="date">12/12/2022</div>
      </div>
      <div class="review-content">
        <p>
          حتى كتلة المنتج ليست حاملا. جعبة موربي ناعمة وكبيرة. الآن نحن بحاجة
          إلى شرب قدر من البروتين ، في حاجة إلى الألم. الطبقة مناسبة للشركاء
          الصامتين ، الذين يتأرجحون من خلال زواجنا. يقال غدا كرة السلة من قبل أو
          مستهدفة. اينين ​​هو عنصر من عناصر الموظف. دائما أو إلى الأبد.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="review-head">
        <div class="profile">
          <div class="img">
            <img
              src="../../../../../../assets/images/review-pic-3.jpg"
              alt=""
            />
          </div>
          <div class="info">
            <div class="name">عبود الشامي</div>
            <div class="star">
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
              <span>⭐</span>
            </div>
          </div>
        </div>
        <div class="date">12/12/2022</div>
      </div>
      <div class="review-content">
        <p>
          كما أصبح الإنترنت حقيقة واقعة ولكن العقارات مجانية. تحميل الرسوم
          الكاريكاتورية لكرة القدم مجانا. الهواتف الذكية Aenean ex ، مصنوع من
          البوابة والوسادة في النخبة. نرحب بالأطفال لبدء عمل تجاري. من يعيش في
          الألم؟ لا تكريم جعبة الجعبة
        </p>
      </div>

    </div>
  </div>
</section>
