<section>
  <div class="container">
    <div class="cards">
      <div class="card" *ngFor="let listing of listings">
        <picture>
          <div class="img">
            <a href="#">
              <img
                src="../../../../../../assets/images/couple-bg-img.jpg"
                alt=""
              />
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="home/list_single/{{listing.id}} "> {{listing.title}}</a>
            <span></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
