*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
        font-family: 'Tajawal', sans-serif;
}
section{
  position: relative;
  width: 100%;
}
.container{
  padding-left: 180px;
  padding-right: 180px;
}
.landing{
  width: 100%;
  height: 50vh;
  background: url(../../../../../../assets/images/page-header.jpg);
  background-size: cover;
  position: relative;
}
.container .head{
    color: #fff;
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 1.2;

}
.container .head h1{
  font-size: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 35px;
  font-family: 'Tajawal', sans-serif;
}

@media(max-width:550px)
{
  .container{
    padding-right: 100px;
  }
}
@media(max-width:425px)
{
  .container{
    padding-right: 50px;
  }
  .container .head h1{
    font-size: 30px;
  }
}
