* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  direction: rtl;
}

section {
  /* margin-top: -8px; */
  background: url(../../../../../../assets/images/venue-single.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;

  position: relative;
}
section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(17, 16, 16);
  opacity: 0.5;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}

@media (max-width: 925px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 820px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 160px;
  width: 100%;
  padding-bottom: 30px;
}

@media (max-width: 720px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero {
    top: 180px;
  }
}

@media (max-width: 420px) {
  .hero {
    top: 230px;
    width: 400px;
  }
  .container {
    padding-right: 10px;
  }
  .hero .text h3 {
    font-size: 1px;
  }
}

.hero .text h3 {
  font-size: 30px;
  line-height: 58px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "Tajawal", sans-serif;
}
