<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.2/css/all.min.css"
  />
<section *ngIf="listingSocialMedia.length>0">
  <div class="container">
    <div class="content" >
      <div class="text">
        <h2>وسائل التواصل الإجتماعي الخاصة بنا :</h2>
      </div>
    <div class="media-icons" >
          <a *ngIf="tiktokLink" href="{{tiktokLink}}"><i class="fab fa-tiktok"></i></a>
          <a *ngIf="facebookLink" href="{{facebookLink}}"><i class="fab fa-facebook-f"></i></a>
          <a *ngIf="telegramLink"  href="{{telegramLink}}"><i class="fa-brands fa-telegram"></i></a>
          <a *ngIf="linkedInLink" href="{{linkedInLink}}"><i class="fab fa-linkedin-in"></i></a>
          <a *ngIf="whatsappLink" href="{{whatsappLink}}"><i class="fa-brands fa-whatsapp"></i></a>
          <a *ngIf="youtubeLink" href="{{youtubeLink}}"><i class="fab fa-youtube"></i></a>
          <a *ngIf="pinterestLink" href="{{pinterestLink}}"><i class="fab fa-pinterest"></i></a>
          <a *ngIf="instagramLink" href="{{instagramLink}}" ><i class="fa-brands fa-instagram"></i></a>
          <a *ngIf="twitterLink" href="{{twitterLink}}"><i class="fa-brands fa-twitter"></i></a>
          <a *ngIf="snapchatLink" href="{{snapchatLink}}"><i class="fab fa-snapchat" aria-hidden="true"></i></a>

        </div>
    </div>

  </div>
</section>

