/* @import "bourbon"; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  margin-bottom: 30px;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}

.content {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 69%;
  margin-top: 30px;
  padding: 20px;
}

.content .text {
  padding: 5px;
}
.content .text h2 {
  font-size: 22px;
  font-weight: 500;
  font-family: "Tajawal", sans-serif;
}

.media-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.media-icons a {
  height: 40px;
  width: 40px;
  margin: 4px 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.media-icons a:nth-child(1) {
  background: #010101;
}
.media-icons a:nth-child(1):hover {
  color: #010101;
  background: #fff;
}
.media-icons a:nth-child(2) {
  background: #1877f2;
}
.media-icons a:nth-child(2):hover {
  color: #1877f2;
  background: #fff;
}
.media-icons a:nth-child(3) {
  background: #0088cc;
}
.media-icons a:nth-child(3):hover {
  color: #0088cc;
  background: #fff;
}
.media-icons a:nth-child(4) {
  background: #0a66c2;
}
.media-icons a:nth-child(4):hover {
  color: #0a66c2;
  background: #fff;
}
.media-icons a:nth-child(5) {
  background: #25d366;
}
.media-icons a:nth-child(5):hover {
  color: #25d366;
  background: #fff;
}
.media-icons a:nth-child(6) {
  background: #ff0000;
}
.media-icons a:nth-child(6):hover {
  color: #ff0000;
  background: #fff;
}
.media-icons a:nth-child(7) {
  background: #bd081c;
}
.media-icons a:nth-child(7):hover {
  color: #bd081c;
  background: #fff;
}
.media-icons a:nth-child(1) {
  background: #e1306c;
}
.media-icons a:nth-child(1):hover {
  color: #e1306c;
  background: #fff;
}
.media-icons a:nth-child(9) {
  background: #1da1f2;
}
.media-icons a:nth-child(9):hover {
  color: #1da1f2;
  background: #fff;
}
.media-icons a:nth-child(10) {
  background: #fffc00;
}
.media-icons a:nth-child(10):hover {
  color: #fffc00;
  background: #fff;
}

@media (max-width: 719px) {
  .container {
    padding: 1px;
  }
  .content .text h2 {
    font-size: 20px;
  }
  .content {
    width: 100%;
  }
  .content {
    margin-right: 10px;
    margin-left: 10px;
  }
}
