.reviews {
  background-color: #fdf8ec !important;
  padding-top: 30px;
  padding-bottom: 60px;
}
.reviews .heading {
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.reviews .heading h2 {
  font-size: 28px;
  line-height: 38px;
  color: #252328;
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-family: "Tajawal", sans-serif;
}
.reviews .heading p {
  /* width: 60%; */
  padding: 5px;
  margin: auto;
  line-height: 30px;
  color: #6f6d72;
  font-family: "Tajawal", sans-serif;
}
.reviews .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.rev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  padding-top: 20px;
  width: 250px;
  margin: 10px 10px;
}
.rev .text {
  text-align: center;
  padding: 20px;
  width: 250px;
  font-family: "Tajawal", sans-serif;
}
.rev i {
  color: #ff4d4d !important;
  font-weight: 600;
  font-size: 30px;
}
.rev h3 {
  font-size: 20px;
  line-height: 28px;
  color: #252328;
  margin: 0px 0px 15px 0px;
  font-weight: 400;
  font-family: "Tajawal", sans-serif;
}
.rev p {
  display: block;
  min-width: 50px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Tajawal", sans-serif;
}
.rev img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.stars
{
  color: #ffa912;
}

