
<div class="reviews">
  <div class="heading">
        <h2> شهادات من Real Brides</h2>
        <p>تعرف على ما يجب أن يقوله الزوجان الحقيقيان عن العلاقة بينهما.</p>
      </div>
      <div class="container">
        <!--Try to remove "container"-->
        <div class="rev">
          <i class="fas fa-magic fa-3x"></i>
          <div class="text">
          <h3>Amanda Tibma  </h3>
          <p>
            "الدهليز كنز". غدا ليس مهما. في الواقع ، كانت إلييفند نيبه حاملاً ، وتم استهداف الخميرة. تم انتحال بعض مواقع هندريريت ، أم البعض الآخر لم يكن كذلك.
          </p>
          <img src="https://images.unsplash.com/photo-1649183424680-464747a8e43d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" alt="">
          <p>بائع زهور</p>
          <h6>Bhavnagar</h6>
          <div class="stars">

              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
          </div>
          </div>
        </div>
        <div class="rev">
          <i class="far fa-gem fa-3x"></i>
          <div class="text">
          <h3>Katrina Masterpole</h3>
          <p>
            "الدهليز كنز". غدا ليس مهما. في الواقع ، كانت إلييفند نيبه حاملاً ، وتم استهداف الخميرة. تم انتحال بعض مواقع هندريريت ، أم البعض الآخر لم يكن كذلك.
          </p>
          <img src="https://images.unsplash.com/photo-1519741357542-22a23fd3627b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=527&q=80" alt="">
          <p> بائع التصوير الفوتوغرافي</p>
          <h6>Baroda</h6>
          <div class="stars">

              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
          </div>

          </div>
        </div>
        <div class="rev">
          <i class="fas fa-globe-asia fa-3x"></i>
          <div class="text">
          <h3>Barbara J. Gonzalez</h3>
          <p>
            "الدهليز كنز". غدا ليس مهما. في الواقع ، كانت إلييفند نيبه حاملاً ، وتم استهداف الخميرة. تم انتحال بعض مواقع هندريريت ، أم البعض الآخر لم يكن كذلك.
          </p>
          <img src="https://images.unsplash.com/photo-1589544421314-2d8297a767a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=542&q=80" alt="">
          <p>مسؤول المكان</p>
          <h6>Ahmedabad</h6>
          <div class="stars">

              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Features -->


