<div class="container">
  <div class="close">
    <div class="btn">
      <button (click)="close()" type="button">X</button>
    </div>
  </div>

  <div class="header">
    <h1>تعديل معلومات {{ this.data?.title }}</h1>
    <mat-divider> </mat-divider>
    <br />
  </div>

  <div class="form">
    <h2>معلومات الرئيسية</h2>
    <mat-divider></mat-divider>
    <form [formGroup]="addListingForm" (ngSubmit)="update()">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>العنوان الرئيسي</mat-label>
        <input matInput type="text" formControlName="title" minlength="10" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>فئة</mat-label>
        <mat-select
          formControlName="category_id"
          (selectionChange)="onCategoryChange()"
        >
          <mat-option
            *ngFor="let category of categories"
            [disabled]="true"
            [value]="category?.id"
          >
            {{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <div class="A">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label> حدد الدولة</mat-label>
          <mat-select formControlName="country_id">
            <mat-option [value]="1"> المملكة العربية السعودية </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>الولاية</mat-label>
          <mat-select
            (selectionChange)="onRegionChange()"
            formControlName="region_id"
          >
            <mat-option *ngFor="let region of regions" [value]="region?.id">
              {{ region.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>اختر المدينة</mat-label>
          <mat-select
            (selectionChange)="onCityChange()"
            formControlName="city_id"
          >
            <mat-option *ngFor="let city of cities" [value]="city?.id">
              {{ city.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>اختر الحي</mat-label>
          <mat-select formControlName="district_id">
            <mat-option
              *ngFor="let district of districts"
              [value]="district?.id"
            >
              {{ district.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>اختر الحالة</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>العنوان</mat-label>
          <input
            matInput
            type="text"
            formControlName="address"
            minlength="10"
          />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <div class="editor">
          <h2>الوصف :</h2>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="أوصف الإعلان..."
            matInput
            formControlName="descriptions"
          ></textarea>
        </div>
      </mat-form-field>

      <br />
      <mat-divider></mat-divider>
      <br />

      <div>
        <div class="A" formArrayName="mainAttributeValue">
          <h2>الصفات الرئيسية</h2>
          <mat-form-field
            *ngFor="
              let attributeFG of addListingForm.controls.mainAttributeValue
                .controls;
              let i = index
            "
            appearance="outline"
            class="example-full-width"
            [formGroupName]="i"
          >
            <mat-label>{{ attributeFG.controls.name.value }}</mat-label>
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="value"
            />
          </mat-form-field>
        </div>

        <div class="A" formArrayName="secondaryAttributeValue">
          <h2>الصفات الاضافية</h2>
          <mat-form-field
            *ngFor="
              let attributeFG of addListingForm.controls.secondaryAttributeValue
                .controls;
              let i = index
            "
            appearance="outline"
            class="example-full-width"
            [formGroupName]="i"
          >
            <mat-label>{{ attributeFG.controls.name.value }}</mat-label>
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="value"
            />
          </mat-form-field>
        </div>

        <div class="checkbox" formArrayName="generaleAttributeValue">
          <h2>الصفات العامة</h2>
          <section class="section">
            <p
              *ngFor="
                let attributeFG of addListingForm.controls
                  .generaleAttributeValue.controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <mat-checkbox formControlName="value">
                {{ attributeFG.controls.name.value }}
              </mat-checkbox>
            </p>
          </section>
        </div>

        <div class="A" formArrayName="questionAttributeValue">
          <h2>الاسئلة</h2>
          <mat-form-field
            *ngFor="
              let attributeFG of addListingForm.controls.questionAttributeValue
                .controls;
              let i = index
            "
            appearance="outline"
            class="example-full-width"
            [formGroupName]="i"
          >
            <mat-label>{{ attributeFG.controls.name.value }}</mat-label>
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="value"
            />
          </mat-form-field>
        </div>

        <div class="checkbox" formArrayName="covidAttributeValue">
          <h2>كوفيد</h2>
          <section class="section">
            <p
              *ngFor="
                let attributeFG of addListingForm.controls.covidAttributeValue
                  .controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <mat-checkbox formControlName="value">
                {{ attributeFG.controls.name.value }}
              </mat-checkbox>
            </p>
          </section>
        </div>

        <div class="A" formArrayName="otherAttributeValue">
          <h2>صفات أخرى</h2>
          <mat-form-field
            *ngFor="
              let attributeFG of addListingForm.controls.otherAttributeValue
                .controls;
              let i = index
            "
            appearance="outline"
            class="example-full-width"
            [formGroupName]="i"
          >
            <mat-label>{{ attributeFG.controls.name.value }}</mat-label>
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="value"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="file">
        <h1>اضافة معرض المكان</h1>
        <h4>معرض الصور</h4>
        <div class="input">
          <button
            type="button"
            mat-raised-button
            (click)="fileInput.click()"
            id="button-file"
          >
            Choose File
          </button>
          <input
            hidden
            (change)="onFileSelected($event)"
            #fileInput
            type="file"
          />
          <span>{{ selectedFile?.name }}</span>
        </div>
        <!--
        <div class="img">
          <span>صورة الغلاف : </span>
          <div class="img-cov" style="margin-top: 20px;">
            <img src="{{ data.coverImg }}" alt="" srcset="" />
          </div>
        </div>
        -->
      </div>
      <!-- end file -->
      <mat-divider></mat-divider>
      <br />
      <!-- start add video -->
      <h2>اضف فيديو</h2>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> فيديو</mat-label>
        <input matInput type="url" />
      </mat-form-field>

      <mat-divider></mat-divider>
      <br />

      <!-- start Social Media -->
      <h2>وسائل التواصل الأجتماعي</h2>

      <div class="B" formGroupName="socialMediaList">
        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="0"
        >
          <mat-label>Phone</mat-label>
          <input matInput type="string | url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="1"
        >
          <mat-label>E-Mail</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="2"
        >
          <mat-label>WHATSAPP</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="3"
        >
          <mat-label>FACEBOOK</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="4"
        >
          <mat-label>INSTAGRAM</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="5"
        >
          <mat-label>TWITTER</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="6"
        >
          <mat-label>TIKTOK</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="7"
        >
          <mat-label>SNAPCHAT</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="8"
        >
          <mat-label>PRIVATE</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="9"
        >
          <mat-label>YOUTUBE</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="10"
        >
          <mat-label>PINTEREST</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="11"
        >
          <mat-label>TELEGRAM</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="12"
        >
          <mat-label>LINKEDIN</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field 
        appearance="outline" 
        class="example-full-width"
        [formGroupName]="13"
        >
          <mat-label>OTHER</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>
      </div>
      <div class="btns">
        <button
          mat-raised-button
          color="primary"
          [disabled]="addListingForm.valid"
          type="submit"
        >
          تحديث
        </button>
        <button mat-raised-button color="accent" type="button">معاينة</button>
        <button
          mat-raised-button
          color=""
          type="button"
          (click)="reset(addListingForm)"
        >
          اعادة تعليين
        </button>
      </div>
    </form>
  </div>
</div>
