/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

.container {
  padding: 15px;
  height: vh100;
  width: vw100;

}

.header {
  padding-top: 20px;
  direction: rtl;
  margin: auto;
  max-width: 1200px;
  text-align: center;
}
.header h1{
  text-align: center;
    font-family: 'Tajawal', sans-serif;
}

  .form {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
    max-width: 1200px;
  }
h2 {
  padding-top: 5px;
  padding-right: 10px;
  direction: rtl;
}

.example-full-width {
  width: 100%;
  padding: 10px 10px;
}
.mat-form-field {
  font-size: 16px;
  padding-bottom: 0px;
}
.A,
.B {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.editor {
  width: 100%;
  padding: 10px;
}

.editor textarea {
  width: 100%;
  max-width: 100%;
}

.map {
  display: flex;
  justify-content: space-around;
  border: 1px rgba(224, 224, 224, 1) solid;
  border-radius: 5px;
  width: calc(100% - 20px);
  margin: 10px;
}
.checkbox {
  width: 100%;
  margin-right: 10px;
}
.section {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

h2 {
  color:#3f51b5
}


.file {
  padding: 20px;
}

.input {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
input{
  font-size: 20px;
}
#button-file {
  padding: 0 5px;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  margin-top: 10px;
}
.container2 div {
  background-color: #3f51b5;
  width: 100%;
  height: 100%;
}
.mat-icon-button {
  color: rgb(10, 6, 59);
}

.close {
  width: 80%;
  display: flex;
  align-items: center;
}

.close p {
  margin: auto 0;
}


.img span{
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
}

button{
  margin: 10px;
  cursor: pointer;
}
button:disabled{
  opacity: 0.5;
}

textarea{
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
}

.close{
  text-align: right;
}
.close .btn button{
  padding:0 10px ;
  font-size: 40px;
  font-weight: bold;
    color: #333;
}
.close .btn button:hover{
  color: red;
  background-color: #f7f6f6;
  transition: .3s;
}
button:disabled{
  opacity: 0.6;
}


@media (max-width:300px) {
  .A,
.B {
  grid-template-columns: repeat(1, 100%);
}

.section {
  grid-template-columns: repeat(1, auto);
}

.container2 {
  grid-template-columns: repeat(1, auto);

}


}



@media (min-width:301px) and (max-width:450px) {

.A,
.B {
  grid-template-columns: repeat(1, 100%);
}

.section {
  grid-template-columns: repeat(2, auto);
}

.container2 {
  grid-template-columns: repeat(2, auto);

}

} */

.container {
  padding: 20px;
}

.header h1 {
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
}
.form h2 {
  font-family: "Tajawal", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.A {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-bottom: 10px;
}
.checkbox{
  padding: 20px 0;
}
.checkbox .section {
  display: flex;
  flex-wrap: wrap;
}

.checkbox .section p {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .checkbox .section p {
    flex-basis: calc(50% - 20px);
  }
}
mat-label {
  color: #333;
  font-size: 16px;
}
input {
  font-size: 20px;
  color: #333;
  width: 100%;
}
.editor h2 {
  color: #333;
}
textarea {
  font-size: 20px;
  color: #333;
}
.file {
  margin-bottom: 20px;
}
.file h1,
h4 {
  font-family: "Tajawal", sans-serif;
}
.B {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0;
}
.employees {
  padding: 20px 0;
}
.heas-emp {
  font-family: "Tajawal", sans-serif;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.remove-emp-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-emp {
  background-color: #c61d21;
  color: #fff;
  font-size: 20px;
  font-family: "Tajawal", sans-serif;
  width: 100px;
  margin-top: -20px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}
.add-emp button {
  background-color: rgb(0, 89, 255);
  color: #fff;
  font-size: 16px;
  font-family: "Tajawal", sans-serif;
  padding: 10px;
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.close{
  text-align: right;
}
.close .btn button{
  padding:0 10px ;
  font-size: 40px;
  font-weight: bold;
    color: #333;
}
.close .btn button:hover{
  color: red;
  background-color: #f7f6f6;
  transition: .3s;
  cursor: pointer;
}
button:disabled{
  opacity: 0.6;
}
