
    <main>
      <div class="text">
        <h2>أحدث أماكن الزفاف</h2>
        <p>وصف موجز لعرض أحدث قاعات الزفاف.</p>
      </div>

      <section>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1510076857177-7470076d4098?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1523438885200-e635ba2c371e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img src="image/one.png" alt="" />
          </picture>
          <div class="detail">
            <p>
              <b>Wedding Venue Title Name</b><br />
              <small>Someone</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>New arrival</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>New arrival</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
      </section>
      <div class="dir-btn">
        <i class="fas fa-angle-right change-background fa-2x" id="right"></i>
        <i class="fas fa-angle-left change-background fa-2x" id="left"></i>
      </div>
    </main>

    <script type="text/javascript" src="js/main.js"></script>
