@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

main {
  width: 100%;
  /*background: red;*/
  position: relative;
  padding: 30px;
  background-color: rgb(246, 245, 247);
}
main .text {
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.text h2 {
  font-size: 28px;
  line-height: 38px;
  color: #252328;
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-family: "Tajawal", sans-serif;
}
.text p {
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
  color: #6f6d72;
  font-family: "Tajawal", sans-serif;
}
main header {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}

section {
  width: 98%;
  height: 500px;
  /* background: red; */
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 60px;
}
section::-webkit-scrollbar {
  display: none;
}
section .product {
  min-width: 201px;
  height: 100%;
  background: #fff;
  margin: 0 20px 0 0;
  position: relative;
  left: 0;
  transition: 0.5s;
  display: block;
}
picture {
  width: 100%;
  height: 70%;
  padding: 20px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  left: 0;
  transition: 0.5s;
}
picture img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}
picture img:hover {
  transform: rotate(3deg) scale(1.2);
}
.detail {
  width: 90%;
  /*background: red;*/
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
  display: block;
}
.button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-top: 1px solid #777;
}
.prices {
  position: relative;
  color: #555;
  line-height: 0px;
  text-align: center;
  margin-left: 10px;
  font-family: "Tajawal", sans-serif;
}
/* .prices::before {
  content: "";
  position: absolute;
  left: 125%;
  top: -20px;
  background-color: #252328;
  width: 1px;
  height: 122%;
} */
.prices p {
  color: black;
  font-family: "Tajawal", sans-serif;
}
.prices h6 {
  font-family: "Tajawal", sans-serif;
}
p b {
  color: #252328;
  margin: 0px 0px 15px 0px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-family: "Tajawal", sans-serif;
}
p small {
  font-size: 12px;
  font-weight: 400;
  color: #6f6d72;
  font-family: "Tajawal", sans-serif;
}
p.star {
  width: 30%;
  font-size: 15px;
  text-align: center;
  line-height: 0.7;
  color: #ffa912;
  margin: 10px;
  margin-top: -5px;
  display: block;
}
p.star span {
  color: #252328;
  font-size: 8px;
  font-weight: 500;
  font-size: 10px;
  display: block;
  margin-top: 10px;
  font-family: "Tajawal", sans-serif;
}
@media (max-width: 768px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  header p span {
    font-size: 30px;
  }
  section .product {
    min-width: 49%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 16px;
  }
  a {
    padding: 6px 10px;
  }
}

@media (max-width: 420px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  header p span {
    font-size: 30px;
  }
  section .product {
    min-width: 100%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 16px;
  }
  a {
    padding: 6px 10px;
  }
  .dir-btn{
    top: 90%;
    display: flex;
    justify-content: space-around;
    z-index: 90;
    width: 10%;
  }
}

.dir-btn {
  position: absolute;
  left: 50%;
  bottom: 45%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
}
.dir-btn i {
  color: #000;
  font-size: 40px;
  cursor: pointer;
  font-weight: 600;
}
