h1 {
  text-align: center;
  margin-top: 20px;
    font-family: 'Tajawal', sans-serif;
}



/* ::ng-deep .ng-container{
  border-radius: 30px;
} */
.mat-header-cell {
  /* background-color: rgb(0, 89, 255);
  padding-left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600; */
  /* background-color: rgb(226, 230, 236); */
  color: #333;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
}

.mat-cell {
  padding: 2px;
  width: 200px;
  color: black;
  font-size: 18px;
  user-select: none;
}

img {
  width: 70px;
}

.mat-mdc-form-field {
  font-size: 14px;
  line-height: 40px;
  /* width: 90%; */
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1%;
}
.filter {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
}
label {
  color: aqua;
}
.filter:hover {
  opacity: 1;
}
td,
th {
  padding-left: 1px !important;
  color: #333;
  font-size: 17px;
  padding-right: 1px !important;
}
th{
  user-select: none;
}


::ng-deep mat-label,
input {
  color: #333;
  font-size: 18px;
}
input {
  padding: 5px;
  padding-bottom: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 8px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* padding: 8px ; */
  border-radius: 3px;
  width: 80px;
  margin: 10px;
  margin-right: 0;
}
.update {
  background-color: rgb(0, 89, 255);
}
.delete {
  padding: 0;
  background-color: #c61d21;
}
.add{
  background-color: rgb(0, 89, 255);
  width: 120px;
  display: block;
}


h1 {
  text-align: center;
  margin-top: 20px;
}
table {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 90%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1%;
}
.filter {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  opacity: 0.4;
}

.filter:hover {
  opacity: 1;
}
td,
th {
  padding-left: 10px !important;

  padding-right: 10px !important;
}
img{
  border-radius: 5px
}

::ng-deep .mat-select-panel {
  position: absolute;
  margin-top: 60px;
  width: 200px;
  font-family: "Tajawal", sans-cserif;
  border-radius: 0;
  padding: 10px;
}

