<app-loader></app-loader>
<h1>الإعلانات</h1>
<div class="container">
  <div style="margin-top: 20px">
    <mat-form-field class="filter">
      <mat-label>الفلترة</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
    <div>
      <div class="add-div">
        <button class="add" type="button" (click)="addListing()">
          إضافة إعلان
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <div style="padding-left: 10px">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <p style="margin-left: 20px; margin-top: 10px">ID</p>
            </th>
            <td mat-cell *matCellDef="let row">
              <p style="margin-left: 30px">{{ row.id }}</p>
            </td>
          </ng-container>
        </div>
        <!-- image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>صورة الغلاف</th>
          <td class="img-cont" mat-cell *matCellDef="let row">
            <img *ngIf="!row.coverImg" src="https://lilty.sgp1.cdn.digitaloceanspaces.com/listings%2F28%2FCover_1680092641145_photo_2023-03-29_14-21-51.jpg" alt="" />
            <img *ngIf="row.coverImg" src="{{ row.coverImg }}" alt="" />
          </td>
        </ng-container>

        <!-- customersName Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            عنوان الإعلان
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.title }}
          </td>
        </ng-container>

        <!-- telephone Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            تصنيف الإعلان
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.category }}
          </td>
        </ng-container>
        <!-- userName Column -->
        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>المنطقة</th>
          <td mat-cell *matCellDef="let row">
            {{ row.region }}
          </td>
        </ng-container>
        <!-- category Column -->

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الحالة</th>
          <td mat-cell *matCellDef="let row">
            <mat-form-field>
              <mat-label> الحالة</mat-label>
              <mat-select
                [(ngModel)]="row.status"
                (selectionChange)="select_status($event.value)"
              >
                <mat-option *ngFor="let item of status" [value]="item">{{
                  item
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <!-- category Column -->

        <!-- actoin -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>التحكم</th>
          <td mat-cell *matCellDef="let row">
            <button (click)="openDialog(row)" class="update">تعديل</button>

            <button mat-icon-button class="delete" (click)="delete(row.id)">
              حذف
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter {{ input.value }}
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
