<head>
  <meta charset="UTF-8" />
  <!-- Fontawesome CDN Link -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<article>
  <!--Landing-->
  <section>
    <div class="landing">
      <div class="container">
        <div class="head">
          <h1
            [innerHTML]="article.changingThisBreaksApplicationSecurity.title"
          ></h1>
        </div>
      </div>
    </div>
  </section>

  <div class="first">
    <section class="article-tree" *ngIf="isThereMiniArt">
      <div class="title">
        <h2>الفهرس</h2>
      </div>

      <div
        class="items"
        *ngFor="
          let item of article.changingThisBreaksApplicationSecurity.miniArticles
        "
>
        <a
          href="blog/article/{{
            article.changingThisBreaksApplicationSecurity.id
          }}#{{ item.id }}"
        >
          {{ item.title }}
        </a>
      </div>

    </section>



    <section class="content">
      <div class="container">
        <!-- <div class="content-title">
          <p>{{ article.changingThisBreaksApplicationSecurity.title }}</p>
        </div> -->

        <div
          class="content-text"
          [innerHTML]="article.changingThisBreaksApplicationSecurity.content"
        ></div>
        <p
          *ngFor="
            let item of article.changingThisBreaksApplicationSecurity
              .articlePhotos
          "
        >
          <img width="400px"  src="{{ item }}" alt="" />
        </p>

        <div class="extra" *ngIf="isThereMiniArt">
          <p>تابعي معنا هذه المقالة لنتعرف على هذه التصاميم بالتفصيل :</p>
        </div>

        <div
          *ngFor="
            let item of article.changingThisBreaksApplicationSecurity
              .miniArticles
          "
          class="miniArt"
        >
          <div class="title-mini">
            <p id="{{ item.id }}">{{ item.title }}</p>
          </div>

          <div class="content-text">
            <p [innerHTML]="item.content"></p>
          </div>

          <div class="img" *ngFor="let photo of item.articlePhotos">
            <img src="{{photo}}" style="right: 0" alt="" />
          </div>
        </div>
      </div>
    </section>

          <section class="share-post">
      <div class="icons">
        <a href="#" class="face"><i class="fab fa-facebook "></i></a>
        <a href="#" class="twit"><i class="fab fa-twitter "></i></a>
        <a href="#" class="msg"><i class="fab fa-facebook-messenger "></i></a>
        <a href="" class="email"><i class="fas fa-envelope "></i></a>
      </div>
    </section>
  </div>


</article>

<!-- <p [innerHTML]="article.changingThisBreaksApplicationSecurity.content"></p>
<p
  *ngFor="
    let item of article.changingThisBreaksApplicationSecurity.articlePhotos
  "
>
  <img src="{{ item }}" alt="" />
</p>
<p *ngFor="let item of article.changingThisBreaksApplicationSecurity.miniArticles">
  {{item.title}} <img src="{{item.articlePhotos[0]}}" alt="">
</p> -->
<!-- {{article.content}} -->
