* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  display: block;
}
html{
  background-color: #f5f5f5;
}
article{
  background-color: #f5f5f5;
  padding-bottom: 10px;
}
h3{
  font-size: 25px;
  font-family: "Tajawal", sans-serif;
  font-weight: 600;
}
/* Landing */
section {
  position: relative;
  width: 100%;
}
.container {
  padding-left: 180px;
  padding-right: 180px;
}
.landing {
  margin-top: -7px;
  display: block;
  width: 100%;
  height: 40vh;
  background: url("../../../../../../assets/images/page-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #fff;
}
.container .head {
  color: #fff;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.2;
}
.container .head h1 {
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Tajawal", sans-serif;
  color: #fff;
}
@media (max-width: 640px) {
  .container {
    padding: 0;
    padding-right: 20px;
  }
  .container .head h1 {
    font-size: 30px;
  }
}

.first {
  margin: 50px 70px;
  /* margin-bottom: 0; */
  border: 1px solid rgba(0,0,0,.125);;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
}

/* article-tree */

.article-tree {
  position: sticky;
  top: 30px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px;
  height: 100%;
  width: 1000px;
}
.article-tree .title h2 {
  font-size: 22px;
  font-family: "Tajawal", sans-serif;
}
.article-tree .title {
  border-bottom: 2px solid #db0962;
}
.article-tree .items {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.article-tree .items a,.main {
  line-height: 40px;
  font-size: 1.1rem;
  text-decoration: none;
  margin: 1px 0;
  color: #5f5f5f;
  transition: 0.3s;
  width: 100%;
}
.main{
  margin-top: 20px;
}
.article-tree .items a::before,.main::before{
  content:'.';
  font-size: 100px;
  color: #5f5f5f;
}
.article-tree .items a:hover {
  color: #db0962;
}

/* Content */

.content {
  margin: 30px 0;
  background-color: #fff;
  padding: 20px;
  width: 2000px;
}

.content .container {
  padding: 0 30px;
}

.content-title p,
.title-mini {
  font-size: 30px;
  line-height: 40px;
  font-family: "Tajawal", sans-serif;
}
.title-mini p {
  margin-top: 30px;
}
.img {
  width: 100%;
}
.img img {
  width: 80%;
  height: 80%;
}

.content .content-text {
  padding: 20px;
  font-size: 1.1rem;
  color: #444;
  line-height: 40px;
}

h3{
  color: #db0962;
  font-size: 20px;
}

.extra {
  padding: 30px;
  line-height: 30px;
}

.extra p {
  font-size: 22px;
  color: #444;
}

ul{
  list-style: decimal;
}

.share-post{
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  height: 100%;
  width: 200px;
  /* background-color: #db0962; */
  position: sticky;
  top: 30px;
}
.share-post .icons a i {
  font-size: 2rem;
  margin-bottom: 20px;
}
.share-post .icons a.face{
  color: #1877f2;
}
.share-post .icons a.twit {
  color: #1da1f2;
}
.share-post .icons a.msg{
  color: #4267b2;
}
.share-post .icons a.email{
  color: #bd081c;
}

@media (max-width: 870px) {
  .container {
    padding: 0px;
  }
  .content {
    width: 100%;
  }
  .content .content-text{
    padding: 0px;
  }
  .first {
    flex-direction: column;
  }
  .title-mini{
    font-size: 20px;
  }
  .article-tree{
    position: relative;
    width: 600px;
  }
  .container .head{
    padding-right: 10px;
  }
  .share-post{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  .share-post::before{
    content: 'شارك المقالة عبر :';
    position: absolute;
    top: -40px;
    right: 44px;
    font-size: 25px;
  font-family: "Tajawal", sans-serif;
  color: #444;

  }
  .share-post .icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .share-post .icons a i{
    font-size: 3rem;
    margin-bottom: 10px;
  }

}











