@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Baloo+Bhaijaan+2:wght@400;800&family=Dancing+Script:wght@400;700&family=Kalam&family=Lobster&family=Noto+Nastaliq+Urdu&family=Noto+Serif+Bengali:wght@300&family=Rubik:wght@300;400;500&family=Satisfy&family=Tajawal:wght@200;300;500;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,800&display=swap');
body{
font-family: 'Amiri', serif;
font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Kalam', cursive;
font-family: 'Lobster', cursive;
font-family: 'Noto Nastaliq Urdu', serif;
font-family: 'Noto Serif Bengali', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Tajawal', sans-serif;
font-family: 'Work Sans', sans-serif;
}
*{
  display: block;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text {
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.text h2 {
  font-size: 28px;
  line-height: 38px;
  color: #252328;
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}
.text p {
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
  color: #6f6d72;
  font-family: "Rubik", sans-serif;
}
