
<section>
  <div class="landing">
    <div class="container">
      <div class="head">
        <h1>   تواصل معنا </h1>
        <p>نود التحدث معك ، والتحدث إلينا وسنظهر لك ما فعلناه ، وما يمكننا فعله من أجلك.</p>
      </div>
    </div>
  </div>
</section>

