<section>
  <div class="container">
    <div class="head">
      <h1>بائع مماثل</h1>
    </div>

    <div class="cards">

       <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1513278974582-3e1b4a4fa21e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
        <div class="product">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1510076857177-7470076d4098?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
              alt=""
            />
          </picture>
          <div class="detail">
            <p>
              <b>اسم عنوان مكان الزفاف</b><br />
              <small>اسم ما</small>
            </p>
          </div>
          <div class="button">
            <p class="star">
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <strong>&star;</strong>
              <br />
              <span>(20)</span>
            </p>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>للزائر</h6>
            </div>
            <div class="prices">
              <p>$150</p>
              <br />
              <h6>يبدأ من</h6>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
