* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

.container {
  width: 100%;
  float: right;
  height: 100%;
  padding-right: 170px;
  padding-left: 170px;
  /* padding-bottom: 100px; */
  margin-right: auto;
    margin-left: auto;
     margin-top: -50px;
}
.head{
  padding-right: 20px;
}
.head h1{
  font-family: 'Tajawal', sans-serif;
  margin-bottom: -20px;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
section .product {
  position: relative;
  width: 100%;
  height: 85%;
  /* background: #fff; */
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.5s;
  background-color: rgb(233, 235, 233);
}
picture {
  position: relative;
  width: 100%;
  height: 70%;
  /* padding: 10px; */
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.5s;
}
picture img {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}
picture img:hover {
  transform: rotate(3deg) scale(1.2);
}
.detail {
  width: 90%;
  /*background: red;*/
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
}
.button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-top: 1px solid #777;
}
.prices {
  position: relative;
  color: #555;
  line-height: 0px;
  text-align: center;
  margin-left: 10px;
  font-family: "Tajawal", sans-serif;
}
/* .prices::before {
  content: "";
  position: absolute;
  left: 125%;
  top: -20px;
  background-color: #252328;
  width: 1px;
  height: 122%;
} */
.prices p {
  color: black;
  font-family: "Tajawal", sans-serif;
}
.prices h6 {
  font-family: "Tajawal", sans-serif;
}
p b {
  color: #252328;
  margin: 0px 0px 15px 0px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-family: "Tajawal", sans-serif;
}
p small {
  font-size: 12px;
  font-weight: 400;
  color: #6f6d72;
  font-family: "Tajawal", sans-serif;
}
p.star {
  width: 30%;
  font-size: 15px;
  text-align: center;
  line-height: 0.7;
  color: #ffa912;
  margin: 10px;
  margin-top: -5px;
}
p.star span {
  color: #252328;
  font-size: 8px;
  font-weight: 500;
  font-size: 10px;
  display: block;
  margin-top: 10px;
  font-family: "Tajawal", sans-serif;
}
@media (max-width: 768px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  header p span {
    font-size: 30px;
  }
  section .product {
    min-width: 49%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 16px;
  }
  a {
    padding: 6px 10px;
  }
}
