<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://kit.fontawesome.com/e2ed1899cf.css"
  crossorigin="anonymous"
/>
<section>
  <div class="container">
    <div class="cards">
      <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img src="../../../../../../../assets/images/supplier-photographer-1.jpg" alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين أفيس</a>
          <span>زيد الحارس</span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img
                src="../../../../../../../assets/images/supplier-photographer-2.jpg"
                alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين زفاف مونيكا</a>
          <span> مونيكا الشامي </span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img
                src="../../../../../../../assets/images/supplier-photographer-3.jpg"
                alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين أناميكا</a>
          <span> أناميكا اللحام</span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img
                src="../../../../../../../assets/images/supplier-photographer-4.jpg"
                alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين ساريكا</a>
          <span>ساريكا حسن</span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img
                src="../../../../../../../assets/images/supplier-photographer-5.jpg"
                alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين زفاف باميلا</a>
          <span> باميلا </span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img
                src="../../../../../../../assets/images/supplier-photographer-6.jpg"
                alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين العروس هوارد</a>
          <span> هوارد</span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img
                src="../../../../../../../assets/images/supplier-photographer-7.jpg"
                alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين زفاف كيمبرلي</a>
          <span>كيمبرلي</span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img
                src="../../../../../../../assets/images/supplier-photographer-8.jpg"
                alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين زفاف ديريك</a>
          <span>ديريك</span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>

        <div class="card">
        <picture>
          <div class="img">
            <a href="#"
              ><img
                src="../../../../../../../assets/images/supplier-photographer-9.jpg"
                alt=""
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="">فساتين زفاف ديريك</a>
          <span>ديريك</span>
        </div>

        <div class="info">
          <div class="count">
            <div class="guests">
              <p>200$ للشخص</p>
            </div>
            <div class="text-price"><p>السعر</p></div>
          </div>

          <div class="rate">
            <div class="stars">
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star</mat-icon>
              <mat-icon matSuffix>star_border</mat-icon>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
