* {
    direction: ltr;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .total {
    font-size: 2em;
  }
  .mat-icon,
  .description {
    color: green;
    font-size: 2em;
  }
  .mat-icon {
    position: relative;
    padding: 0 4px;
    top: 5px;
  }
