.features {
  background-color: #fff;
  font-family: 'Tajawal', sans-serif;
}
.features .container {
  padding-top: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.feat{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feat .text {
  text-align: center;
  padding: 20px;
}
.feat i {
color: #ff4d4d !important;
font-weight: 600;
font-size: 30px;
}
.feat h3 {
font-size: 20px;
    line-height: 28px;
        color: #252328;
    margin: 0px 0px 15px 0px;
    font-weight: 400;
    font-family: 'Tajawal', sans-serif;
}
.feat p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
