
<div class="features">
      <div class="container">
        <!--Try to remove "container"-->
        <div class="feat">
          <i class="fas fa-magic fa-3x"></i>
          <div class="text">
          <h3> قاعات الزفاف والبائعين <strong>+180</strong> </h3>
          <p>
          بعض الكلام
          </p>
          </div>
        </div>
        <div class="feat">
          <i class="far fa-gem fa-3x"></i>
          <div class="text">
          <h3>  زفافات تمت بنجاح <strong>+350</strong></h3>
          <p>
           بعض الكلام
          </p>
          </div>
        </div>
        <div class="feat">
          <i class="fas fa-globe-asia fa-3x"></i>
          <div class="text">
          <h3>  المدن المتاحة <strong>+31</strong></h3>
          <p>
            بعض الكلام
          </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Features -->
