<h1 mat-dialog-title>إضـافة عمـيـل</h1>
<div mat-dialog-content>
  <form [formGroup]="customersForm">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>اسم العميل</mat-label>
      <input matInput placeholder="الاسم" formControlName="customersName" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>اسم المستخدم</mat-label>
      <input matInput type="text" formControlName="userName" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>المدينة</mat-label>
      <mat-select formControlName="city">
        <mat-option value="رياض">رياض </mat-option>
        <mat-option value="جدة">جدة </mat-option>
        <mat-option value="تبوك">تبوك </mat-option>
        <mat-option value="المدينة المنورة">المدينة المنورة </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>التصنيفات</mat-label>
      <mat-select formControlName="category">
        <mat-option value="  صالات الاعراس">صالات اعراس </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>الإعــلان</mat-label>
      <mat-select formControlName="advertising">
        <mat-option value="صالة الأندلس الذهبية"
          >صالة الأندلس الذهبية
        </mat-option>
        <mat-option value="صالة النورس الألماسية"
          >صالة النورس الألماسية
        </mat-option>
        <mat-option value="تصوير الندى">تصوير الندى </mat-option>
        <mat-option value="متجر عمر للنسائي">متجر عمر للنسائي </mat-option>
        <mat-option value="كيك الشام">كيك الشام </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>البريد الإلكتروني</mat-label>
      <input
        type="email"
        matInput
        placeholder="Ex. pat@example.com"
        formControlName="email"
      />
      <mat-hint>Errors appear instantly!</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width padd">
      <mat-label>رقم الجوال</mat-label>
      <input
        type="tel"
        matInput
        placeholder="555-555-1234"
        formControlName="telephone"
      />
      <mat-icon matSuffix> mode_edit </mat-icon>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>close</button>
  <button mat-raised-button color="primary" (click)="addCustomers()">
    {{ actionBtn }}
  </button>
</div>
