<section>
  <div class="container">
    <div class="cards">
      <div class="card" *ngFor="let region of regions">
        <picture>
          <div class="img">
            <a href="#">
              <img
                src="../../../../../../assets/images/category-location-img-2.jpg"
                alt=""
              />
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="listings/region/{{region.name}}/{{region.id}}"> {{region.name}}</a>
            <span>({{region.code}})</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
