* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}
.container {
  float: right;
  /* margin-top: 700px; */
  padding-right: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form {
  width: 50%;
  background-color: rgb(233, 235, 233);
  padding: 20px;
}
.top {
  display: flex;
  flex-direction: column;
}
.head {
  border-bottom: 1px solid #b0aeb1;
}
.head h2 {
  font-family: "Tajawal", sans-serif;
}
.rate {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  color: #343a40 !important;
}
::ng-deep label.star {
  font-size: 20px !important;
}

.down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 500ms;
}
textarea {
  background-color: rgb(233, 235, 233);
  padding: 20px;
  font-size: 18px;
  outline: none;
  border: 1px solid #b0aeb1;
  transition: 0.5s;
  height: 100px;
}
textarea::placeholder {
  font-size: 18px;
}
.down .inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
button {
  padding: 10px 8px;
  margin-top: 20px;
  border: none;
  background: rgb(255, 77, 77);
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.inputs input {
  background-color: rgb(233, 235, 233);
  border: 1px solid #b0aeb1;
  padding: 10px;
  margin-top: 10px;
  width: 45%;
  outline: none;
}
