<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<section>
        <div class="container">
            <div class="form">
            <div class="top">
                <div class="head">
                    <h2>اكتب ملاحظاتك</h2>
                </div>
                <div class="rate">
                    <div class="row">
                        <span>جودة الخدمة</span>
                         <ngx-star-rating dir="rtl"  [id]="'rating'"></ngx-star-rating>
                    </div>
                    <div class="row">
                        <span> المرافق</span>
                         <ngx-star-rating   [id]="'rating'"></ngx-star-rating>
                    </div>
                    <div class="row">
                        <span> العاملين</span>
                         <ngx-star-rating   [id]="'rating'"></ngx-star-rating>
                    </div>
                    <div class="row">
                        <span> المرونة</span>
                         <ngx-star-rating [id]="'rating'"></ngx-star-rating>
                    </div>
                    <div class="row">
                        <span> قيمة المال</span>
                         <ngx-star-rating  [id]="'rating'"></ngx-star-rating>
                    </div>
                </div>
            </div>

            <div class="down">
                <h4>اكتب مراجعتك</h4>
                <form>

                    <textarea name="" placeholder="أكتب مراجعة" id="" cols="50" rows="10" style="resize: vertical;width: 100%;"></textarea>
                    <div class="inputs">
                    <input type="text" placeholder="الأسم">
                    <input type="email" name="" id="" placeholder="الإيميل">
                    </div>
                    <button type="submit">إرسال المراجعة</button>
                </form>
            </div>
        </div>
    </div>
</section>
