
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

section{
  padding: 50px;
}

.container{
  padding-left: 160px;
  padding-right: 160px;
}
@media(max-width :975px)
{
  .container{
    width: 100%;
    padding: 0;
    align-items: center;
    justify-items: center;
  }
  .card{
    width: 100%;
  }

}

.cards{
  /* text-align: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 20px;
  justify-items: center;
  align-items: center;
  -ms-grid-row-align: 20px; */

  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */

    /* padding: 30px; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 10px; */

  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;


}

.card{
  display: block;
  margin-left: 30px;
    border: 1px solid #e6e5e7;
    padding: 4px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;

    width: 270px;
}

.img{
  overflow: hidden;
}

picture a img{
  width: 100%;
  transition: 0.5s;
}

picture:hover img{
  transform: scale(1.1);
}

.title{
  padding: 16px 16px 12px 16px;
    margin-bottom: 6px;
}

.title a{
  font-size: 20px;
  color: #252328;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.title a:hover{
  color: #ff4d4d;
}

.title span{
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #6f6d72;
}

.info{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-top: 1px solid #e6e5e7;
}

.price{
  text-align: center;
}

.text-price{
  display: block;
}

.guests{
  text-align: center;
}

.rate{
  text-align: center;
}

.stars{
 display: flex;
}

mat-icon{
    color:#ffa912;
    font-size: 20px;
}



@media(max-width:550px)
{
  .card{
    width: 100%;
    margin: 0 10px;
  }
}


.capacity p{
  font-size: 30px;
}
