* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
.container {
  position: sticky;
  min-width: 20%;
  float: right;
  height: 100%;
  padding-right: 170px;
  padding-left: 170px;
  padding-bottom: 100px;
  /* margin-right: auto;
  margin-left: auto; */
}
div.map {
  overflow: hidden;
}
iframe {
  width: 500px;
  height: 300px;
}
.box {
  background-color: rgb(233, 235, 233);
  margin-top: 40px;
}
.box .head {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #b0aeb1;
  margin-bottom: 20px;
}
.box .head h2 {
  font-family: "Tajawal", sans-serif;
}
