<section>

        <div class="container">
            <div class="box">
            <div class="head">
                <h2>الموقع - الخريطة</h2>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1835.3333348574968!2d72.564844!3d23.072679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2fff7917ea15fbb!2sSaurashtra%20Gurjar%20Sutar%20Youth%20Forum!5e0!3m2!1sen!2sus!4v1670878507982!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            </div>
        </div>

</section>
