<!--/.header-top -->
<!-- header -->
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
        <!-- header-logo -->
        <div class="header-logo">
          <a routerLink="/home"
            ><img
              src="../../../../../../assets/images/logo.png"
              alt="Wedding Vendor & Supplier Directory HTML Template "
          /></a>
        </div>

        <!-- /.header-logo -->
      </div>
    </div>
  </div>
</div>
