.header { background-color: #fff;
  padding-top: 12px;
   padding-bottom: 12px;
    position: relative;
    z-index: 9;
     border-bottom: 1px solid #f1f1f1; }


.header-logo { padding-top: 10px; }


