<section>
  <div class="features">
    <div class="heading">
        <h2> نظام العمل </h2>
        <p>إلهام حقيقي من عروسين حقيقيين. احصل على أفكار للعرسان والعرائس.</p>
      </div>
    <div class="container">
      <!--Try to remove "container"-->

      <div class="feat">
        <i class="fas fa-magic fa-3x"></i>
        <div class="text">
          <h3>احتفل بيوم الزفاف</h3>
          <p>
            لأن euismod عظيم ولا يمكن أن يتبعه الاقتصاد ، لذا فإن القوس مهم الآن
            لـ Sollicitudin fringilla.
          </p>
        </div>
      </div>
      <div class="feat">
        <i class="far fa-gem fa-3x"></i>
        <div class="text">
          <h3>دليل البائع المثالي</h3>
          <p>
            لا أحد يهتم بابتسامة العقار. أحيانًا لا توجد بحيرة ولا ثمن ، لكن لا
            أحد يكره الحدود.
          </p>
        </div>
      </div>
      <div class="feat">
        <i class="fas fa-globe-asia fa-3x"></i>
        <div class="text">
          <h3>البحث عن مورد</h3>
          <p>
            لكن الشوكولاتة كانت شيئًا جيدًا للأعضاء ، لكن الشاحنات كانت جيدة.
            ينتقد الأطفال فريق كرة القدم للأطفال.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Features -->
</section>
