* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  padding-top: 40px;
}
.features {
  background-color: #fff;
  padding-left: 170px;
  /* display: block; */
  /* padding-top: 200px;
  padding-bottom: 200px; */
  padding-right: 170px;
  z-index: 2;
}
.features .heading {
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.features .heading h2 {
  font-size: 28px;
  line-height: 38px;
  color: #252328;
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-family: "Tajawal", sans-serif;
}
.features .heading p {
  width: z;
  display: block;
  padding: 5px;
  margin: auto;
  line-height: 30px;
  color: #6f6d72;
  font-family: "Tajawal", sans-serif;
}
.features .container {
  /* padding:20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.feat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feat .text {
  text-align: center;
  padding: 20px;
  width: 250px;
  font-family: "Tajawal", sans-serif;
}
.feat i {
  color: #ff4d4d !important;
  font-weight: 600;
  font-size: 30px;
}
.feat h3 {
  font-size: 20px;
  line-height: 28px;
  color: #252328;
  margin: 0px 0px 15px 0px;
  font-weight: 400;
  font-family: "Tajawal", sans-serif;
}
.feat p {
  display: block;
  min-width: 50px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Tajawal", sans-serif;
}

@media(max-width:850px)
{
  .features{
    padding: 0;
  }
}
