<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>
<section>
  <div class="container">
    <div class="cont">
    <div class="head">
      <h2> <p>المراجعات<i class="fa fa-star" aria-hidden="true"></i><p></h2>
      <a href="">أكتب مراجعة</a>
    </div>

    <div class="content">
      <div class="box1">
        <h1>4.8 </h1>
        <h5>مراجعات</h5>
        
        <p>المتوسط 4.4 على أساس 1 التصنيفات.</p>
      </div>
      <div class="box2">
        <div class="col1">
          <p>جودة الخدمة</p>
          <p>مرافق</p>
          <p>العاملين</p>
          <p>المرونة</p>
          <p>قيمة المال</p>
        </div>
        <div class="col2">
          <p>
         <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
        <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i></p>
          <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
          <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
          <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
          <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
        </div>
      </div>

    </div>
    </div>
  </div>
</section>
