*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
    font-family: "Tajawal", sans-serif;
}
i{
  display: inline;
  color: #ffa912;
  font-weight: 800;
  margin-left: 3px;
  margin-right: 3px;
}
.container {
  height: 100%;
  padding-right: 160px;
  padding-left: 160px;
  margin-top: 30px;
}
.cont{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  width: 69%;
  border: 1px solid rgba(0,0,0,.125);
}
.head{
  display: flex;
  justify-content: space-between;
  position: relative;
    font-family: "Tajawal", sans-serif;
}
.head h2{
      font-family: "Tajawal", sans-serif;
}
.content{
  display: flex;
  justify-content: space-around;
}
.box1{
  line-height: 1.9;
  padding-left: 15px;
}
.box1 h1{
  margin: 0;
    font-family: "Tajawal", sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.box1 h5{
    font-family: "Tajawal", sans-serif;
    font-size: 12px;
}
.box2{
  display: flex;
  margin: 10px;
}
.box2 .col1{
  margin-left: 10px;
}
a{
  text-decoration: none;
  color: #fff;
  background-color: rgb(255, 77, 77);
  position: absolute;
  left: 0;
  padding: 5px;
}
.col1 p{
  width: 100px;
}





@media (max-width: 720px) {
  .cont {
    width: 100%;
  }
  .container {
    padding: 10px;
  }
  .box1{
    padding-left: 15px;
  }
}

@media (max-width: 380px) {
  .content{
    flex-direction: column;
  }
  .box1{
    padding-bottom: 20px;
  }
}
