* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  display: block;
}
section {
  position: relative;
  width: 100%;
}
.container {
  padding-left: 180px;
  padding-right: 180px;
}
.landing {
  display: block;
  width: 100%;
  height: 50vh;
  background: url(../../../../../../assets/images/listsingle-slider-img-2.jpg);
  background-size: cover;
  position: relative;
}
.container .head {
  color: #fff;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.2;
}
.container .head h1 {
  font-size: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Tajawal", sans-serif;
}
@media (max-width: 640px) {
  .container {
    padding: 0;
    padding-right: 20px;
  }
  .container .head h1 {
    font-size: 30px;
  }
}
