


    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"

        crossorigin="anonymous">

        <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.2/css/all.min.css"
  />



<section>

    <div class="container">



        <div class="card">

            <div class="slide slide1">

                <div class="content">

                    <div class="icon">

                  <i class="fa fa-user-circle" aria-hidden="true"></i>


                    </div>

                </div>

            </div>

            <div class="slide slide2">

                <div class="content">

                    <h3>
                        {{data.name}}
                    </h3>

                    <p>البريد الإلكتروني : {{data.email}}</p>

                    <p>العنوان : {{data.address}}</p>

                    <p>الرمز البريدي : {{data.post}}</p>

                    <p>رقم الهاتف : {{data.phone}}</p>

                </div>

            </div>

        </div>



    </div>

</section>

