<div class="content">
    <div class="display">
    </div>
    <!-- <div class="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor [editor]="editor">
        </ngx-editor>
    </div> -->
</div>
