<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>يرجى التحقق من هذا البريد الإلكتروني باستخدام الرابط التالي:</p>
<a th:href="${url}">تحقق الآن!</a>
</body>
</html>
