
<div class="features">
      <div class="container">
        <!--Try to remove "container"-->
        <div class="feat">
          <i class="far fa-user-circle fa-3x" style="margin-top: 50px;"></i>
          <div class="text">
          <h3> قسم الدعم </h3>
          <p>
          إتصل بنا فنحن 24 ساعة موجودون لمساعدتك
          </p>
          <span>
            <div class="phone">
             <strong>رقم الهاتف :</strong>    <div class="color">094738273847</div>
            </div>
            <div class="email">
              <strong>الإيميل :</strong>  <div class="color">lilty@gmail.com</div>
            </div>

          </span>
          </div>
        </div>
        <div class="feat">
          <i class="fa fa-map-marker-alt fa-3x"></i>
          <div class="text">
          <h3>  عنواننا</h3>
          <p>
            في المملكة العربية السعودية
          </p>
          <span>
            <strong>موقعنا :</strong>   <div class="color">المملكة العربية السعودية,الرياض,عفيف</div>
          </span>
          </div>
        </div>
        <div class="feat">
          <i class="far fa-envelope fa-3x"></i>
          <div class="text">
          <h3>  وسائط أخرى</h3>
          <p>
            يمكنك التواصل معنا عبر الإيميل في الأسفل
          </p>
          <span>
            <strong>الإيميل :</strong>   <div class="color">lilty@gmail.com</div>
          </span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Features -->
