* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -webkit-pictograph;
}
main {
  width: 100%;
  /* background: red; */
  position: relative;
  padding: 30px;
  padding-bottom: 90px;
  background-color: rgb(246, 245, 247);
    font-family: 'Tajawal', sans-serif;
}
main .text {
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
    font-family: 'Tajawal', sans-serif;
    /* min-width: 100%; */
}
.text h2 {
  font-size: 28px;
  line-height: 38px;
  color: #252328;
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-family: 'Tajawal', sans-serif;
}
.text p {
  /* width: 60%; */
  padding: 5px;
  margin: auto;
  line-height: 30px;
  color: #6f6d72;
  font-family: 'Tajawal', sans-serif;
}
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  /* margin-top: 60px; */
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.imgs-container .box img {
  /* position: absolute; */
  /* width: auto; */
  transition: 0.5s;
}
.imgs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}
.imgs-container .box {
  position: relative;
  /* flex-basis: 25%; */
  overflow: hidden; /* for images when rotate them */
  margin: 10px;
}
.imgs-container .box:hover {
  cursor: pointer;
}
.imgs-container .box:hover img {
  transform: scale(1.1);
}
/* @media (max-width: 767px) {
  .imgs-container .box {
    flex-basis: 100%;
  }
  .card{
    width: 10px;
  }
}
@media (min-width: 768px) {
  .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .imgs-container .box {
    flex-basis: 25%;
  }
} */
.box .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  transition: 0.5s;
}
.box .caption a {
  font-weight: normal;
  font-size: 16px;
  padding: 10px;
  text-align: start;
  color: #fff;
  text-decoration: none;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Tajawal', sans-serif;
}
.box .caption a:hover {
  color: #ff4d4d;
}
.imgs-container .box:hover .box img{
  transform: scale(1.2);
}
a.more {
  background-color: var(--main-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  margin-top: -90px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.btn {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-decoration: none;
  font-size: 16px;
  background-color: #ff4d4d;;
  padding: 14px;
  color: #fff;
  font-weight: 400;
  font-family: 'Tajawal', sans-serif;
  text-align: center;
  bottom: -50px;
  width: 220px;
  height:50px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.card{
  position: relative;
  /* display: block; */
      border: 1px solid #e6e5e7;
    padding: 4px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 180px;
}
@media(max-width:450px)
{
  .card,.card .img a img{
    width: 100%;
  }
}


.card .img{
  overflow: hidden;
  /* width: 180px; */
}
.card .img:hover img {
  transform: scale(1.1);
}
.card .img a img{
  width: 100%;
  z-index: -1;
  transition: 0.5s;
}
.card .caption{
  padding: 5px;
}
.caption a{
  color: #252328;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  font-family: 'Tajawal', sans-serif;
}
.caption a:hover{
  color: #ff4d4d;
}


