
       <main>
      <div class="text">
        <h2>أحدث أماكن الزفاف</h2>
        <p>وصف موجز لعرض أحدث قاعات الزفاف.</p>
      </div>

      <div class="portfolio">

        <div class="cards">
          <div class="card" >
            <div class="img">
              <a href="#">
                <img src="../../../../../../assets/images/venue_categories_img_1.jpg" alt="">
              </a>
            </div>

            <div class="caption">
              <a href="#"> {{categories[0].name}}</a>
            </div>
          </div>

          <div class="card">
            <div class="img">
              <a href="#">
                <img src="../../../../../../assets/images/venue_categories_img_2.jpg" alt="">
              </a>
            </div>

            <div class="caption">
              <a href="#">{{categories[1].name}} (20)</a>
            </div>
          </div>

          <div class="card">
            <div class="img">
              <a href="#">
                <img src="../../../../../../assets/images/venue_categories_img_3.jpg" alt="">
              </a>
            </div>

            <div class="caption">
              <a href="#">{{categories[2].name}} (20)</a>
            </div>
          </div>

          <div class="card">
            <div class="img">
              <a href="#">
                <img src="../../../../../../assets/images/venue_categories_img_4.jpg" alt="">
              </a>
            </div>

            <div class="caption">
              <a href="#">  {{categories[3].name}} (20)</a>
            </div>
          </div>

          <div class="card">
            <div class="img">
              <a href="#">
                <img src="../../../../../../assets/images/venue_categories_img_5.jpg" alt="">
              </a>
            </div>

            <div class="caption">
              <a href="#">{{categories[4].name}} (20)</a>
            </div>
          </div>

          <div class="card">
            <div class="img">
              <a href="#">
                <img src="../../../../../../assets/images/venue_categories_img_6.jpg" alt="">
              </a>
            </div>

            <div class="caption">
              <a href="#">{{categories[6].name}} (20)</a>
            </div>
          </div>
        </div>



































        <!-- <div class="imgs-container">
          <div class="box">
            <img
              src="../../../../../../assets/images/venue_categories_img_1.jpg"
            />
            <div class="caption">
              <a href="#">القلاع (10) </a>
            </div>
          </div>
          <div class="box">
            <img
              src="../../../../../../assets/images/venue_categories_img_2.jpg"
              alt=""
            />
            <div class="caption">
              <a href="#">ستيتلي هومز (20) </a>
            </div>
          </div>
          <div class="box">
            <img
              src="../../../../../../assets/images/venue_categories_img_3.jpg"
              alt=""
            />
            <div class="caption">
              <a href="#">برانس (12) </a>
            </div>
          </div>
          <div class="box">
            <img
              src="../../../../../../assets/images/venue_categories_img_4.jpg"
              alt=""
            />
            <div class="caption">
              <a href="#">في الهواء الطلق (18) </a>
            </div>
          </div>
          <div class="box">
            <img
              src="../../../../../../assets/images/venue_categories_img_5.jpg"
              alt=""
            />
            <div class="caption">
              <a href="#">معالم (12) </a>
            </div>
          </div>
          <div class="box">
            <img
              src="../../../../../../assets/images/venue_categories_img_6.jpg"
              alt=""
            />
            <div class="caption">
              <a href="#">مطاعم (11) </a>
            </div>
          </div>
        </div> -->
        <a href="vendors/vendors-by-category" class="btn">مشاهدة كل التصنيفات</a>
      </div>
    </main>


