<head>
  <!-- Theme included stylesheets -->
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
</head>
<div class="container">
  <div class="header">
    <h1>إضافة قائمة جديدة</h1>
    <mat-divider> </mat-divider>
    <br />
  </div>

  <app-spinner-overlay *ngIf="loading"></app-spinner-overlay>

  <div class="form">
    <h2>المعلومات الرئيسية</h2>
    <mat-divider></mat-divider>
    <form [formGroup]="addListingForm">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>العنوان الرئيسي</mat-label>
        <input
          matInput
          type="text"
          ngModel
          formControlName="title"
          minlength="10"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>الفئة</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControlCat"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFnCat"
          (optionSelected)="onOptionSelected($event)"
        >
          <mat-option
            *ngFor="let option of filteredOptionsCat | async"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="A">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label> حدد الدولة</mat-label>
          <mat-select ngModel formControlName="country_id">
            <mat-option [value]="1"> المملكة العربية السعودية </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>المنطقة</mat-label>
          <input
            type="text"
            matInput
            [formControl]="myControlReg"
            [matAutocomplete]="auto1"
          />
          <mat-autocomplete
            #auto1="matAutocomplete"
            [displayWith]="displayFnReg"
            (optionSelected)="onRegionChange($event)"
          >
            <mat-option
              *ngFor="let option of filteredOptionsReg | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>المدينة</mat-label>
          <input
            type="text"
            matInput
            [formControl]="myControlCit"
            [matAutocomplete]="auto2"
          />
          <mat-autocomplete
            #auto2="matAutocomplete"
            [displayWith]="displayFnCit"
            (optionSelected)="onCityChange($event)"
          >
            <mat-option
              *ngFor="let option of filteredOptionsCit | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>الحي</mat-label>
          <input
            type="text"
            matInput
            [formControl]="myControlDis"
            [matAutocomplete]="auto3"
          />
          <mat-autocomplete
            #auto3="matAutocomplete"
            [displayWith]="displayFnDis"
            (optionSelected)="onDistrictChange($event)"
          >
            <mat-option
              *ngFor="let option of filteredOptionsDis | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>اختر الحالة</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>العنوان</mat-label>
          <input matInput type="text" ngModel formControlName="address" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label> {{labelCapacity}} </mat-label>
          <input matInput type="text" ngModel formControlName="capacity" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>{{labelPrice}}</mat-label>
          <input matInput type="text" ngModel formControlName="price" />
        </mat-form-field>

      </div>

      <!-- <mat-divider></mat-divider> -->
      <mat-form-field appearance="outline">
        <div class="editor">
          <h2>الوصف :</h2>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="أوصف الإعلان..."
            matInput
            formControlName="descriptions"
          ></textarea>
        </div>
      </mat-form-field>

      <br />
      <mat-divider></mat-divider>
      <br />

      <div>
        <div
          *ngIf="mainAttributes.length > 0"
          class="A"
          formArrayName="mainAttributeValue"
        >
          <h2><strong>-</strong> الصفات الرئيسية</h2>
          <mat-form-field
            *ngFor="
              let attributeFG of addListingForm.controls.mainAttributeValue
                .controls;
              let i = index
            "
            appearance="outline"
            class="example-full-width"
            [formGroupName]="i"
          >
            <mat-label>{{ attributeFG.controls.name.value }}</mat-label>
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="value"
            />
          </mat-form-field>
          <div class="btn">
            <button
              (click)="openDialog()"
              mat-raised-button
              color="primary"
              type="addMainAttribute"
            >
              إضافة صفة رئيسية
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div
          *ngIf="secondaryAttributes.length > 0"
          class="A"
          formArrayName="secondaryAttributeValue"
        >
          <h2><strong>-</strong> الصفات الإضافية</h2>
          <mat-form-field
            *ngFor="
              let attributeFG of addListingForm.controls.secondaryAttributeValue
                .controls;
              let i = index
            "
            appearance="outline"
            class="example-full-width"
            [formGroupName]="i"
          >
            <mat-label>{{ attributeFG.controls.name.value }}</mat-label>
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="value"
            />
          </mat-form-field>
          <div class="btm">
            <button
              (click)="openDialog()"
              mat-raised-button
              color="primary"
              type="addSecondaryAttribute"
            >
              إضافة صفة أضافية
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div
          *ngIf="generaleAttributes.length > 0"
          class="checkbox"
          formArrayName="generaleAttributeValue"
        >
          <h2><strong>-</strong> الصفات العامة</h2>
          <section class="section">
            <p
              *ngFor="
                let attributeFG of addListingForm.controls
                  .generaleAttributeValue.controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <mat-checkbox formControlName="value">
                {{ attributeFG.controls.name.value }}
              </mat-checkbox>
            </p>
          </section>
          <div class="btn">
            <button
              (click)="openDialog()"
              mat-raised-button
              color="primary"
              type="addGeneraleAttribute"
            >
              إضافة صفة عامة
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div
          *ngIf="questionAttributes.length > 0"
          class="A"
          formArrayName="questionAttributeValue"
        >
          <h2><strong>-</strong> الأسئلة</h2>
          <mat-form-field
            *ngFor="
              let attributeFG of addListingForm.controls.questionAttributeValue
                .controls;
              let i = index
            "
            appearance="outline"
            class="example-full-width"
            [formGroupName]="i"
          >
            <mat-label>{{ attributeFG.controls.name.value }}</mat-label>
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="value"
            />
          </mat-form-field>
          <div class="btn">
            <button
              (click)="openDialog()"
              mat-raised-button
              color="primary"
              type="addQuestionAttribute"
            >
              إضافة سؤال
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div
          *ngIf="covidAttributes.length > 0"
          class="checkbox"
          formArrayName="covidAttributeValue"
        >
          <h2><strong>-</strong> كوفيد</h2>
          <section class="section">
            <p
              *ngFor="
                let attributeFG of addListingForm.controls.covidAttributeValue
                  .controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <mat-checkbox formControlName="value">
                {{ attributeFG.controls.name.value }}
              </mat-checkbox>
            </p>
          </section>
          <div class="btn">
            <button
              (click)="openDialog()"
              mat-raised-button
              color="primary"
              type="addCovidAttribute"
            >
              إضافة صفة كوفيد
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div
          *ngIf="otherAttributes.length > 0"
          class="A"
          formArrayName="otherAttributeValue"
        >
          <h2><strong>-</strong> الصفات الأخرى</h2>
          <mat-form-field
            *ngFor="
              let attributeFG of addListingForm.controls.otherAttributeValue
                .controls;
              let i = index
            "
            appearance="outline"
            class="example-full-width"
            [formGroupName]="i"
          >
            <mat-label>{{ attributeFG.controls.name.value }}</mat-label>
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="value"
            />
          </mat-form-field>
          <div class="btn">
            <button
              (click)="openDialog()"
              mat-raised-button
              color="primary"
              type="addOtherAttribute"
            >
              إضافة صفة آخرى
            </button>
          </div>
        </div>
      </div>

      <mat-divider style="margin-bottom: 10px"></mat-divider>

      <!-- start Social Media -->
      <h2>وسائل التواصل الأجتماعي</h2>

      <div class="B" formGroupName="socialMediaList">
        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="0"
        >
          <mat-label>Phone</mat-label>
          <input matInput type="string" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="1"
        >
          <mat-label>E-Mail</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="2"
        >
          <mat-label>WHATSAPP</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="3"
        >
          <mat-label>FACEBOOK</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="4"
        >
          <mat-label>INSTAGRAM</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="5"
        >
          <mat-label>TWITTER</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="6"
        >
          <mat-label>TIKTOK</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="7"
        >
          <mat-label>SNAPCHAT</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="8"
        >
          <mat-label>PRIVATE</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="9"
        >
          <mat-label>YOUTUBE</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="10"
        >
          <mat-label>PINTEREST</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="11"
        >
          <mat-label>TELEGRAM</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="12"
        >
          <mat-label>LINKEDIN</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>

        <mat-form-field
        appearance="outline"
        class="example-full-width"
        [formGroupName]="13"
        >
          <mat-label>OTHER</mat-label>
          <input matInput type="url" formControlName="path" />
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="employees" formArrayName="employees">
        <div class="head-emp">
          <h2>إضافة موظف</h2>
        </div>
        <div
          class="employee"
          *ngFor="let item of addListingForm.get('employees')?.['controls']; let i = index"
          formGroupName="{{ i }}"
        >
          <div class="emp-info">
            <div class="inputs">
              <div class="input">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>اسم الموظف</mat-label>
                  <input
                    required
                    matInput
                    type="text"
                    ngModel
                    formControlName="name"
                  />
                </mat-form-field>
              </div>
              <div class="input">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label> المسمى الوظيفي</mat-label>
                  <input matInput type="text" ngModel formControlName="job" />
                </mat-form-field>
              </div>
              <div class="input">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>رقم الموظف</mat-label>
                  <input
                    matInput
                    type="text"
                    ngModel
                    formControlName="phone_emp"
                  />
                </mat-form-field>
              </div>
              <div class="remove-emp-div">
                <button
                  class="remove-emp"
                  (click)="removeEmployee(i)"
                  type="button"
                >
                  حذف
                </button>
              </div>
            </div>
          </div>
        </div>
        <mat-hint>اذا لم يكن هناك موظيفن لاضافتهم اضغط على حذف</mat-hint>

        <div class="add-emp">
          <button (click)="createEmployee()">إضافة موظف أخر</button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="btns">
        <button
          (click)="onAddListing()"
          mat-raised-button
          color="primary"
          type="submit"
        >
          إضـافة الإعلان
        </button>
        <button mat-raised-button color="accent" type="button">
          معاينة الإعلان
        </button>
        <button mat-raised-button type="button" (click)="reset(addListingForm)">
          اعادة تعليين الإعلان
        </button>

        <button mat-raised-button type="button" (click)="autoFill()">
          Auto Fill
        </button>
      </div>
    </form>
  </div>
</div>
<body>


</body>


