/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
}

.main footer {
  background: #302d34;
}
footer .content {
  max-width: 1250px;
  margin: auto;
  /* padding: 30px 40px 40px 40px; */
}
footer .content .top {
  /* width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: #39363d;
  padding: 20px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 20px;
}
.logo-details span {
  width: 100%;
  line-height: 1.1;
}
.content .top .media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 250px; */
}
@media (max-width: 640px) {
  .media-icons {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }
  .content {
    padding: 0;
  }
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #e1306c;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #0077b5;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icons a:nth-child(5) {
  background: #ff0000;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link_name img {
  opacity: 0.9;
  margin: 0;
  width: 30%;
}
.link_name img:hover {
  opacity: 1;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box p {
  color: #98969b;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  width: 200px;
  transition: all 0.4s ease;
}
.content .link-boxes .box p.email {
  color: #ff4d4d !important;
  font-weight: 600;
}
.content .link-boxes .box li a {
  color: #98969b;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
  width: 100%;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content {
  padding: 30px;
}
.content .link-boxes {
  /* margin-right: 55px; */
}

.btn {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #ff4d4d;
  width: 100px;
  border: none;
  padding: 5px 10px 5px 10px;
  /* margin-top: 80px; */
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Tajawal", sans-serif;
  /* margin: 0; */
}
.last-p {
  width: 170px;
}
