<head>
  <meta charset="UTF-8" />
  <!-- Fontawesome CDN Link -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<div class="main">
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">هل ترغب في التواصل معنا</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/lilty_net/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box" style="margin-top: -60px">
          <div class="first">
            <li class="link_name">
              <a href="">
                <img
                  src="../../../../../../assets/images/new-logo-black-removebg-preview.png"
                  alt=""
                />
              </a>
            </li>
            <p>
              قبل المطور ، الوادي الذي nibh في ، الضعف الكتلة CNN. في هذا المسار
              من الشارع. في هذا الوقت ، ألقى الشارع محتوى وهمية بسيطة هنا.
            </p>
          </div>
        </ul>
        <ul class="box">
          <li class="link_name">عنوان الإتصال</li>
          <p>4998 Elk Creek Road Canton, GA 30114</p>
          <p class="email">+0-800-1234-123 info@realwed.com</p>
        </ul>
        <ul class="box">
          <li class="link_name">عن الشركة</li>
          <li><a href="#">لمحة عنا</a></li>
          <li><a href="/contact-us">تواصل معنا</a></li>
          <li><a href="#">أسئلة و أجوبة</a></li>
          <li><a href="#">خطة التسعير</a></li>
          <li><a href="#">قابل الفريف</a></li>
        </ul>

        <ul class="box">
          <li class="link_name">اذكر عملك</li>
          <p class="last-p">
            هل أنت بائع؟ قائمة بمكانك وخدمتك الحصول على المزيد من إدراج الأعمال.
          </p>
          <a href="#" class="btn">اذكر عملك</a>
        </ul>
      </div>
    </div>
  </footer>
</div>
