<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Baloo+Bhaijaan+2:wght@400;800&family=Dancing+Script:wght@400;700&family=Kalam&family=Lobster&family=Noto+Nastaliq+Urdu&family=Noto+Serif+Bengali:wght@300&family=Rubik:wght@300;400;500&family=Satisfy&family=Tajawal:wght@200;300;500;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,800&display=swap"
      rel="stylesheet"
    />
    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <app-loader></app-loader>
    <app-header></app-header>
    <app-section></app-section>
    <app-features></app-features>
    <app-features-section></app-features-section>
    <app-features-gallery></app-features-gallery>
    <app-real-weddings></app-real-weddings>
    <app-how-works></app-how-works>
    <app-reviews></app-reviews>
    <app-tips-news></app-tips-news>
    <router-outlet></router-outlet>
    <app-footer></app-footer>

    <script src="../../../assets//JS//slid.js"></script>
  </body>
</html>
