<section>
  <div class="container">
    <div class="cards">
      <div class="card" *ngFor="let item of listingsByCatAndReg">
        <picture>
          <div class="img">
            <a href="home/list_single/{{item.id}}"
              ><img
              width="300px"
              height="300px"
                src="{{item.coverImg}}"
                alt="listing cover"
            /></a>
          </div>
        </picture>

        <div class="title">
          <a href="home/list_single/{{item.id}}">{{item.title}}</a>
          <span>أحمد أباد ، غوجارات.</span>
        </div>

        <div class="info">
          <div class="count">
            <div
              class="guests"
              *ngFor="let itemAttr of item.attributeValueList"
            >
              <p *ngIf="itemAttr.attribute_Id === 3">
              {{ itemAttr.value }} للشخص
              </p>
            </div>
            <div class="text-price"><p>السعر </p></div>

          </div>


          <div class="count">
            <div
              class="guests"
              *ngFor="let itemAttr1 of item.attributeValueList"
            >
              <p *ngIf="itemAttr1['attribute_Id'] == 51">
              {{ itemAttr1["value"] }} على الأقل
              </p>
            </div>
            <div class="text-capacity"><p>السعة </p></div>

          </div>
          <div class="rate">
            <div class="stars">
              <i class="fa fa-star rated"></i>
              <i class="fa fa-star rated"></i>
              <i class="fa fa-star rated"></i>
              <i class="fa fa-star rated"></i>
              <i class="fa fa-star rate-mute"></i>
            </div>
            <div class="count">
              <span>(20)</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
