* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}
@media (max-width: 975px) {
  .container {
    width: 100%;
    padding: 0;
    align-items: center;
    justify-items: center;
  }
  .card {
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: block;
  margin-left: 20px;
  border: 1px solid #e6e5e7;
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 300px;
}

.img {
  overflow: hidden;
}

picture a img {
  width: 100%;
  transition: 0.5s;
}

picture:hover img {
  transform: scale(1.1);
}

.title {
  padding: 16px 16px 12px 16px;
  margin-bottom: 6px;
}

.title a {
  font-size: 20px;
  color: #252328;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.title a:hover {
  color: #ff4d4d;
}

.title span {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #6f6d72;
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-top: 1px solid #e6e5e7;
}

.price {
  text-align: center;
}

.text-price {
  display: block;
}

.guests {
  text-align: center;
}

.rate {
  text-align: center;
}

.stars:not(.stars:last-child) {
  color: #ffa912;
  font-size: 10px;
}

@media (max-width: 550px) {
  .card {
    width: 100%;
    margin: 0 10px;
  }
}

.capacity p {
  font-size: 30px;
}
