* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  margin: 0 6px;
}

table {
  width: 100%;
  margin: 0px;
}

#table {
  margin: 6px;
  height: 408px;
}

#pie {
  margin: 0 6px 10px 0;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
.stats-cards {
  display: grid !important;
  grid-template-columns: repeat(2, 50%);
  width: calc(100% - 14px);
  justify-content: center;
  gap: 4px;
}

mat-card {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  min-height: 100%;
}

td,
th {
  padding-left: 1px !important;
  text-align: center !important;
  padding-right: 1px !important;
}

@media (max-width: 600px) {
  .stats-cards {
    grid-template-columns: 100%;
  }

  /* start style table  */
  .coordination {
    display: block !important;
  }
  #table {
    max-width: 97% !important;
    margin-bottom: 10px !important;
    margin: 0 auto !important ;
    height: 100%;
  }

  .mat-paginator-range-label {
    margin: 0 !important;
  }
  /* start style  pie  */
  #pie {
    max-width: 97% !important;
    margin: 10px auto !important ;
    height: 100%;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .coordination {
    display: block !important;
  }
  #table {
    max-width: 97% !important;
    margin-bottom: 10px !important;
    margin: 0 auto !important ;
    width: 100%;
  }

  /* start style  pie  */
  #pie {
    max-width: 97% !important;
    margin: 10px auto !important ;
  }
}
