<div class="first">
  <app-widget-area [series]="bigChart"></app-widget-area>
</div>

<mat-divider></mat-divider>
<br />
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="stats-cards">
  <!-- <div class="grob1"> -->
  <mat-card fxFlex="25" class="f">
    <app-widget-card label="new Users" total="18k" percentage="50" [data]="Cards">
    </app-widget-card>
  </mat-card>

  <mat-card fxFlex="25">
    <app-widget-card label="Users retention" total="0k" percentage="0" [data]="Cards">
    </app-widget-card>
  </mat-card>
  <!-- </div> -->
  <!-- <div class="grob2"> -->
  <mat-card fxFlex="25">
    <app-widget-card label="Users engagement" total="98k" percentage="70" [data]="Cards">
    </app-widget-card>
  </mat-card>

  <mat-card fxFlex="25" class="l">
    <app-widget-card label="Referra" total="8k" percentage="20" [data]="Cards">
    </app-widget-card>
  </mat-card>
  <!-- </div> -->
</div>

<br>


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px" id="tm" class="coordination">
  <div fxFlex="45" id="pie">
    <app-widget-pie [data]="pieChart"> </app-widget-pie>
  </div>

  <div fxFlex="55" id="table">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </div>

</div>
