<section>
  <div class="container">
    <div class="content">
      <div class="text">
        <h2>الموقع الأول في مجال تخطيط حفلات الزفاف.</h2>
      </div>

      <div class="form-main">
        <form action="" (ngSubmit)="submit()" [formGroup]="joinUsForm">
          <mat-form-field class="form">
            <mat-label class="label">المنطقة </mat-label>
            
            <mat-select>
              <mat-option
                *ngFor="let region of regions"
                value="{{ region.name }}"
              >
                {{ region.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form">
            <mat-label class="label">التصنيف </mat-label>
            <mat-select>
              <mat-option
                *ngFor="let category of categories"
                value="{{ category.name }}"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>إسم مزود الخدمة</mat-label>
            <input type="text" matInput formControlName="name" />
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <mat-label> الإسم الأول الأخير</mat-label>
            <input type="text" matInput formControlName="nameLastFirst" />
            <mat-icon matSuffix>edit</mat-icon>

          </mat-form-field>

          <mat-form-field>
            <mat-label>الإيميل</mat-label>
            <input matInput formControlName="email" />
            <mat-icon matSuffix>email</mat-icon>

          </mat-form-field>

          <mat-form-field>
            <mat-label>رقم الهاتف</mat-label>
            <input type="phone" formControlName="phone" matInput />
            <mat-icon matSuffix>phone</mat-icon>

          </mat-form-field>

          <button type="submit">إنضم إلينا</button>
        </form>
      </div>
    </div>
  </div>
</section>
