ul li{

  list-style: none;
}

@media (max-width: 600px){
  mat-toolbar-row span{
    font-size: 12px;

  }
  .mat-toolbar-row{
    padding: 0;
  }


}
@media (min-width:600px) and (max-width:800px){
  mat-toolbar-row span{
    font-size: 16px;
  }
}
