* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
h1,
h2 {
  font-family: "Tajawal", sans-serif;
}

.addByName {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.addByName button {
  margin-left: 20px;
}
/*  the main div  */
.container {
  padding: 15px;
  height: vh100;
  width: vw100;
  /* background-color: #f3f3f3; */
}
/* header the form*/
.header {
  padding-top: 20px;
  direction: rtl;
  margin: auto;
  max-width: 1200px;
}
/* stard style form  */
.form {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  max-width: 1200px;
}
h2 {
  padding-top: 5px;
  padding-right: 10px;
  direction: rtl;
}
/* input in form */
.example-full-width {
  width: 100%;
  padding: 10px 10px;
}
.mat-form-field {
  font-size: 16px;
  padding-bottom: 0px;
}
.A,
.B {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
/*  */
.editor {
  width: 100%;
  padding: 10px;
}

.editor textarea {
  width: 100%;
  max-width: 100%;
}
/*  */
/* map googel style */
.map {
  display: flex;
  justify-content: space-around;
  border: 1px rgba(224, 224, 224, 1) solid;
  border-radius: 5px;
  width: calc(100% - 20px);
  margin: 10px;
}
/*checkbox  */
.checkbox {
  width: 100%;
  margin-right: 10px;
}
.section {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

h2 {
  color: #3f51b5;
}
/* start add file */

.file {
  padding: 20px;
}

.input {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
#button-file {
  padding: 0 5px;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  margin-top: 10px;
}
.container2 div {
  background-color: #3f51b5;
  width: 100%;
  height: 100%;
}
.mat-icon-button {
  color: rgb(10, 6, 59);
}

.close {
  width: 80%;
  display: flex;
  align-items: center;
}

.close p {
  margin: auto 0;
}

/* end  */
@media (max-width: 300px) {
  .A,
  .B {
    grid-template-columns: repeat(1, 100%);
  }

  .section {
    grid-template-columns: repeat(1, auto);
  }

  .container2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (min-width: 301px) and (max-width: 450px) {
  .A,
  .B {
    grid-template-columns: repeat(1, 100%);
  }

  .section {
    grid-template-columns: repeat(2, auto);
  }

  .container2 {
    grid-template-columns: repeat(2, auto);
  }
}
.tags {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 10px;
}

.tag-input input {
  width: 7px;
  cursor: pointer;
}

.section {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-around; */
}

.section input {
  width: 20px;
  cursor: pointer;
}

.tag-name {
  margin-top: -4px;
  /* margin-right: -100px; */
}
.tag-name p {
  font-size: 16px;
}

/* @media(max-width:1300px){
  .tag-name{
    margin-right: -50px;
  }
}
@media(max-width:1000){
  .tag-name{
    margin-right: -10px;
  }
} */

.tag-input {
  display: flex;
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  justify-content: center;
  justify-content: center;
  text-align: center;
}
.btns {
  padding: 15px;
  padding-right: 0;
  display: flex;
  gap: 20px;
}
.sub-article button {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.cover {
  width: 100%;
}
.file {
  padding: 20px 0;
  width: 280px;
  cursor: pointer;
}
.label {
  background-color: rgb(0, 85, 255);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  display: block;
  width: 280px;
}
.labelPhotos {
  background-color: rgb(0, 85, 255);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  display: block;
  width: 220px;
}
.cover-image {
  margin-top: 30px;
}
#file {
  display: none;
}
.upload-btn {
  background-color: #333;
  color: #f7f6f6;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.urls {
  padding: 20px;
  padding-right: 0;
}
.urls h3 {
  font-size: 20px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
li {
  list-style-type: decimal;
  position: relative;
}
li::marker {
  font-size: 20px;
}
.employees {
  padding: 20px 0;
}
.heas-emp {
  font-family: "Tajawal", sans-serif;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.remove-emp-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-emp {
  background-color: #c61d21;
  color: #fff;
  font-size: 16px;
  font-family: "Tajawal", sans-serif;
  padding: 10px;
  /* width: 100px; */
  margin-top: -20px;
  /* height: 50px; */
  border-radius: 10px;
  cursor: pointer;
  display: block;
}
.add-emp button {
  background-color: rgb(0, 89, 255);
  color: #fff;
  font-size: 16px;
  font-family: "Tajawal", sans-serif;
  padding: 10px;
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

span {
  color: #c61d21;
  cursor: pointer;
  font-weight: bold;
}
.urls {
  padding: 20px;
  padding-right: 0;
}
.urls h3 {
  font-size: 20px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
li {
  list-style-type: decimal;
  position: relative;
}
li::marker {
  font-size: 20px;
}
