<div class="container">
  <div class="header">
    <h1>إضافة مقالة جديدة</h1>
    <mat-divider> </mat-divider>
    <br />
  </div>

  <div class="form">
    <h2>معلومات الرئيسية</h2>
    <mat-divider></mat-divider>
    <form [formGroup]="addArticleForm">
      <div class="addByName">
        <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>العنوان الرئيسي</mat-label>
        <input formControlName="title" matInput type="text" />
      </mat-form-field>
      <button
      style="margin-right: 15px;margin-top: -20px;"
        (click)="addArticleByName()"
        mat-raised-button
        color="primary"
        type="submit"
        class="add-by-name"
      >إضافة</button>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> وقت القراءة</mat-label>
        <input formControlName="readTime" matInput type="number" />
      </mat-form-field>

      <div class="A"></div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>محتوى المقالة </mat-label>
        <textarea
          formControlName="content"
          matInput
          name=""
          id=""
          cols="30"
          rows="5"
        ></textarea>
      </mat-form-field>

      <div class="input">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label> الإعلانات</mat-label>
          <input
            matInput
            type="text"
            ngModel
            formControlName="listing_id_main"
          />
        </mat-form-field>
      </div>

      <div class="cover">
        <div class="head-emp">
          <h2>صورة الغلاف</h2>
        </div>
        <div style="width: 200px" class="file">
          <div class="label">
            <label class="file" for="cover"
              >إختر صورة الغلاف للمقالة الرئيسية
            </label>
          </div>
          <div class="input">
            <input
              (change)="onCoverSelected($event)"
              style="display: none"
              type="file"
              id="cover"
            />
          </div>

          <div style="cursor: auto" class="cover-image">
            <img [src]="base64" width="300" alt="" />
          </div>
        </div>
      </div>

      <mat-divider style="margin-bottom: 20px"></mat-divider>

      <div class="cover">
        <div class="head-emp">
          <h2>صور المقالة الرئيسية</h2>
        </div>
        <div style="width: 200px" class="file">
          <div class="labelPhotos">
            <label class="file" for="file">إختر صور المقالة الرئيسية </label>
          </div>
          <div class="input">
            <input
              style="display: none"
              multiple
              type="file"
              (change)="onArticlePhotosChange($event)"
              name="file"
              id="file"
              type="file"
            />
          </div>
          <div class="urls" *ngIf="urls">
            <h3>الصور المختارة :</h3>
            <ul>
              <li *ngFor="let url of urls">
                <img [src]="url" width="550" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <mat-divider style="margin-bottom: 20px"></mat-divider>

      <div class="head-emp">
        <h2>التصنيفات</h2>
      </div>
      <div class="tags" formArrayName="categories">
        <div class="section" *ngFor="let category of categories">
          <input
            type="checkbox"
            [value]="category.id"
            (change)="updateCheckboxes($event, category.id)"
          />
          <div class="tag-name">
            <p>{{ category.name }}</p>
          </div>
        </div>
      </div>
      <mat-divider style="margin-bottom: 20px"></mat-divider>

      <div class="employees" formArrayName="miniArticles">
        <div class="head-emp">
          <h2
            style="
              font-size: 30px;
              border-bottom: 1px solid #3f51b5;
              width: 230px;
              padding-bottom: 5px;
            "
          >
            إضافة مقالات فرعية
          </h2>
        </div>
        <div
          class="employee"
          *ngFor="let item of addArticleForm.get('miniArticles')?.['controls']; let i = index"
          formGroupName="{{ i }}"
        >
          <div class="emp-info">
            <div class="inputs">
              <div class="head-emp">
                <h2>المقالة الفرعية {{ i + 1 }} :</h2>
              </div>
              <div class="input">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label> عنوان المقالة الفرعية {{ i + 1 }}</mat-label>
                  <input matInput type="text" ngModel formControlName="title" />
                </mat-form-field>
              </div>
              <div class="input">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label> محتوى المقالة الفرعية {{ i + 1 }}</mat-label>
                  <input matInput type="text" formControlName="content" />
                </mat-form-field>
              </div>
              <div class="input">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label> الإعلانات</mat-label>
                  <input
                    matInput
                    type="text"
                    ngModel
                    formControlName="listing_id"
                  />
                </mat-form-field>
              </div>

              <div class="cover">
                <div class="head-emp">
                  <h2>صور المقالة الفرعية {{ i + 1 }}</h2>
                </div>
                <div style="width: 200px" class="file">
                  <div class="labelPhotos">
                    <label class="file" for="file1"
                      >إختر صور المقالة الفرعية {{ i + 1 }}
                    </label>
                  </div>
                  <div class="input">
                    <input
                      style="display: none"
                      multiple
                      type="file"
                      (change)="onMiniArticlePhotosChange($event)"
                      name="file"
                      id="file1"
                      type="file"
                    />
                  </div>
                  <!-- <div class="urls" *ngIf="urlsMini">
                    <h3>الصور المختارة :</h3>
                    <ul>
                      <li *ngFor="let url of urlsMini">
                        <img [src]="url" width="550" />
                      </li>
                    </ul>
                  </div> -->
                </div>
              </div>
              <div class="remove-emp-div">
                <button
                  class="remove-emp"
                  (click)="removeMiniArticle(i)"
                  type="button"
                >
                  حذف المقالة الفرعية {{ i + 1 }}
                </button>
              </div>
            </div>
          </div>
          <mat-hint
            >إذا كنت لا تريد إضافة المقالة {{ i + 1 }} إضغط
            <span (click)="removeMiniArticle(i)">حذف</span></mat-hint
          >
          <mat-divider
            style="margin-bottom: 20px; margin-top: 20px"
          ></mat-divider>
        </div>

        <div class="add-emp">
          <button (click)="createMiniArticle()">إضافة مقالة فرعية أخرى</button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="btns">
        <button
          (click)="addArticle()"
          mat-raised-button
          color="primary"
          type="submit"
        >
          إضـافة
        </button>
        <button mat-raised-button color="accent" type="button">معاينة</button>
        <button (click)="reset()" mat-raised-button color="" type="button">
          اعادة تعليين
        </button>
      </div>
    </form>
  </div>
</div>
