<section>
  <div class="container">
    <div class="cards">
      <div class="card">
        <picture>
          <div class="img">
            <a href="#">
              <img
                src="../../../../../../assets/images/category-location-img-2.jpg"
                alt=""
              />
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="#"> اسم المكان</a>
            <span>شي</span>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#">
              <img
                src="../../../../../../assets/images/category-location-img-2.jpg"
                alt=""
              />
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="#"> اسم المكان</a>
            <span>شي</span>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#">
              <img
                src="../../../../../../assets/images/category-location-img-2.jpg"
                alt=""
              />
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="#"> اسم المكان</a>
            <span>شي</span>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#">
              <img
                src="../../../../../../assets/images/category-location-img-2.jpg"
                alt=""
              />
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="#"> اسم المكان</a>
            <span>شي</span>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#">
              <img
                src="../../../../../../assets/images/category-location-img-2.jpg"
                alt=""
              />
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="#"> اسم المكان</a>
            <span>شي</span>
          </div>
        </div>
      </div>

      <div class="card">
        <picture>
          <div class="img">
            <a href="#">
              <img
                src="../../../../../../assets/images/category-location-img-2.jpg"
                alt=""
              />
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="#"> اسم المكان</a>
            <span>شي</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
