<h1 mat-dialog-title>إضـافة تصنيف</h1>
<div mat-dialog-content>
  <form [formGroup]="categoriesForm">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>الاسم </mat-label>
      <input matInput placeholder="الاسم" formControlName="name" />
    </mat-form-field>



      <p><mat-checkbox formControlName="active">الننشاط</mat-checkbox></p>


   <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>unit </mat-label>
      <input matInput type="text" formControlName="unit" />
    </mat-form-field>
<!--
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>coverImg_id </mat-label>
      <input matInput type="text" formControlName="coverImg_id" />
    </mat-form-field> -->

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>description </mat-label>
      <input matInput type="text" formControlName="description" />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>id </mat-label>
      <input matInput type="number" formControlName="id" />
    </mat-form-field> -->

  </form>

  <form [formGroup]="plansForm">
    <mat-form-field appearance="outline" class="example-full-width">
     <mat-label>duration </mat-label>
     <input matInput placeholder="duration" formControlName="duration" />
   </mat-form-field></form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>close</button>
  <button mat-raised-button color="primary" (click)="addCategory()">
    {{ actionBtn }}
  </button>
</div>

