<div class="tips">
  <div class="heading">
    <h2>نصائح الزفاف والأخبار</h2>
    <p>دليل الزفاف النهائي ونصائح للعروسين.</p>
  </div>
  <div class="container">
    <div class="box">
      <div class="img">
        <img
          src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-37-12.jpg"
          alt=""
        />
      </div>
      <a href="#">زفاف سعيد الزوجين ابتسامة </a>
      <h6>تقديم الطعام</h6>
    </div>
    <div class="box">
      <div class="img">
        <img
          src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-36-36.jpg"
          alt=""
        />
      </div>
      <a href="#">أفضل وجهة وأماكن حفلات الزفاف لعام 2019</a>
      <h6>زهور</h6>
    </div>
    <div class="box">
      <div class="img">
        <img
          src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-36-35.jpg"
          alt=""
        />
      </div>
      <a href="#">أفضل 10 مجموعات خبراء لفساتين الزفاف</a>
      <h6>تحضير للزفاف</h6>
    </div>
    <div class="box">
      <div class="img">
        <img
          src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-36-38.jpg"
          alt=""
        />
      </div>
      <a href="#">أفضل 10 نصائح زفاف للعريس والعروس</a>
      <h6>التصوير</h6>
    </div>
  </div>
</div>
