* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
.heading {
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.heading h2 {
  font-size: 28px;
  line-height: 38px;
  color: #252328;
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-family: "Tajawal", sans-serif;
}
.heading p {
  width: 100%;
  display: block;
  padding: 5px;
  margin: auto;
  line-height: 30px;
  color: #6f6d72;
  font-family: "Tajawal", sans-serif;
}
.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  text-align: center;
  width: 250px;
}
@media (max-width: 550px) {
  .container {
    padding: 0;
    width: 100%;
  }
  .tips {
    padding: 0;
    width: 100%;
  }
  .box {
    position: relative;
    width: 2000px;
  }
}
.img {
  position: relative;
  padding: 0px;
  margin-bottom: 10px;
  transition: 0.4s;
  overflow: hidden;
}
.box .img img {
  width: 200px;
  height: 150px;
  transition: 0.4s;
}
.img:hover img {
  transform: scale(1.1);
  rotate: 2deg;
}
.box a {
  text-decoration: none;
  color: #252328;
  padding: 10px;
  width: 200px;
}
.box a:hover {
  color: tomato;
}
.box h6 {
  color: tomato;
  font-size: 13px;
}
