



<div class="container">

  <div class="content">
      <div class="drops">

        <form action="" (ngSubmit)="click()">
<mat-form-field  class="form" style="background-color: #fff;">
  <mat-label class="label"> عن ماذا تبحث</mat-label>
  <mat-select  (selectionChange)="getIdForOption($event)">
    <mat-option value="{{category.name}}" class="option" *ngFor="let category of categories" >
      {{category.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field  class="form">
  <mat-label class="label">المنطقة </mat-label>
  <mat-select type="input" (selectionChange)="getIdForOption($event)" >
    <mat-option value="{{region.name}}" class="option" *ngFor="let region of regions">
      {{region.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- <mat-form-field class="form">
  <mat-label class="label">السعر </mat-label>
  <mat-select>
    <mat-option value="ddd" class="option" >500$ -100$</mat-option>
    <mat-option value="ddd" class="option" >2000$ -500$</mat-option>
    <mat-option value="ddd" class="option" >3500$ - 2000$</mat-option>
    <mat-option value="ddd" class="option" >4500$ - 3500$</mat-option>
    <mat-option value="ddd" class="option" >5500$ - 4500$</mat-option>
  </mat-select>
</mat-form-field> -->

<a type="submit" href="vendors/listings/{{engNameCat}}/{{idOptionCat}}/{{engNameReg}}/{{idOptionReg}}" class="send">إيجاد مكان</a>



</form>

<div class="advance" >
  <div class="btnToShow">
    <button type="button" class="show" (click)="onclick()">
    {{advance?"خيارات متقدمة":"خيارات أقل"}}
    </button>
  </div>
  <div class="columns" *ngIf="visible">
  <div class="col">
    <div class="opt">
      <input type="checkbox">
    <label for="">صالة العريس</label>
  </div>
  <div class="opt">
        <input type="checkbox">
    <label>بدلة الزفاف</label>
  </div>
<div class="opt">
      <input type="checkbox">
    <label>طاولة وكراسي</label>
</div>
<div class="opt">
      <input type="checkbox">
    <label>احصل على غرف جاهزة</label>
</div>

  </div>
  <div class="col">
    <div class="opt">
          <input type="checkbox">
    <label>إيجارات الحدث</label>
    </div>
<div class="opt">
     <input type="checkbox">
    <label>الباعة الخارجيون</label>
</div>
<div class="opt">
     <input type="checkbox">
    <label>خدمات المشروبات</label>
</div>
<div class="opt">
     <input type="checkbox">
    <label>خدمات المطاعم</label>
</div>

  </div>
  <div class="col">
    <div class="opt">
    <input type="checkbox">
    <label>التنظيف</label>
    </div>
<div class="opt">
    <input type="checkbox">
    <label>مخطط الاحداث</label>
</div>
<div class="opt">
    <input type="checkbox">
    <label>شبكة إنترنت</label>
</div>
<div class="opt">
    <input type="checkbox">
    <label>صديق للحيوانات الاليفة</label>
</div>
<div class="opt">
    <input type="checkbox">
    <label>أماكن الإقامة</label>
</div>

  </div>
</div>
</div>

</div>

