.container {
  padding-left: 170px;
  padding-right: 170px;
  font-family: "Tajawal", sans-serif;
}

form {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.form {
  /* position: absolute; */
  display: block;
  margin-left: 10px;
  width: 300px;
}
@media (max-width: 675px) {
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 400px;
  }
  button {
    width: 100%;
  }
  .container {
    padding: 0;
  }
}
@media (max-width: 770px) {
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 400px;
  }
  button {
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .send {
    margin-top: 15px;
  }
}

@media (max-width: 430px) {
  .form {
    width: 220px;
  }
  .send {
    margin-top: 15px;
  }
}

::mat-form-field {
  /* position: relative; */
  font-family: "Tajawal", sans-serif;
  /* margin: 10px; */
}

::ng-deep .mat-select-panel {
  position: absolute;
  margin-top: 10%;
  width: 100%;
  font-family: "Tajawal", sans-serif;
  border-radius: 0;
  padding: 10px;
}
.label {
  color: black;
  font-family: "Tajawal", sans-serif;
}
.option {
  padding: 10px;
  font-family: "Tajawal", sans-serif;
}
.content {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 20px;
}
.drops{
    position: sticky;
  top: 20px;
}
.menu {
  width: 200px;
  text-align: right;
  border: none;
  background-color: #fff;
  border: 1px solid #cfced0;
  padding: 10px;
  margin-left: 10px;
  height: 40px;
}
.list {
  width: 20px;
  background-color: #ff4d4d;
  color: #ff4d4d;
}
.send {
  /* top: 0; */
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #ff4d4d;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  /* height: 40px; */
  width: 150px;
  font-size: 17px;
  cursor: pointer;
  font-family: "Tajawal", sans-serif;
}
.advance {
  margin-top: 15px;
  transition: 4s;
}
.columns {
  display: flex;
  justify-content: space-around;
  transition: 4s;
  /* background-color: rgba(0, 0, 0, 0.04); */
}
.col {
  display: flex;
  flex-direction: column;
}
input[type="checkbox"] {
  margin: 10px;
}
button.show {
  background: none;
  border: none;
  font-family: "Tajawal", sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 3s;
}
.btnToShow {
  font-size: 13px;
  color: #252328;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0px;
  border-bottom: 1px solid #252328;
  /* padding-bottom: 1px; */
  /* background-color: rgba(0, 0, 0, 0.04); */
  padding-top: 15px;
  padding-right: 10px;
  /* text-align: center; */
}
@media (max-width: 800px) {
  .advance {
    width: 100%;
  }
  .columns {
    display: flex;
    flex-direction: column;
  }
}
