*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;

}

section{
  margin-top: 40px;
  padding-bottom: 30px;
  /* display: block; */
}

.cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  width: 350px;
  height: 100%;
  background-color: #f7eded;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
  margin-top: 20px;
}

.img{
  text-align: center;
}

img{
  width: 300px;
  border-radius: 40px;
}

.content .text{
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
}

.text h1{
  font-size: 20px;
  font-weight: 600;
  font-family: "Tajawal", sans-serif;
  color: #444;
}

.text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Tajawal", sans-serif;
  color: #545454;
  min-height: 80px;
}

.text a{
  text-decoration: none;
  font-size: 18px;
  color: #545454;
  transition: 0.2s;
  /* width: 100px; */
  display: block;
}

.text a:hover{
  color: #ff4d4d;
}

@media(max-width:380px)
{
  .card{
    margin-left: 10px;
    margin-right: 10px;
  }
}

