<section>
  <div class="container">
    <div class="cards">
      <div class="card">
        <div class="content">
          <div class="img">
            <img
              src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-37-40.jpg"
              alt=""
            />
          </div>
          <div class="text">
            <h1>عرسان ليلتي</h1>
            <p>
              في حال واجهتك أي مشاكل أو أردت الإستفسار عن أيٍّ من خدماتنا. أرائك
              وطلباتك مرحبٌ بها أيضاُ, لا تترد بالتواصل معنا.
            </p>

            <a href="contact/couple-contact">تواصل معنا ⬅</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="img">
            <img
              src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-37-37.jpg"
              alt=""
            />
          </div>
          <div class="text">
            <h1>إنضم إلى ليلتي</h1>
            <p>سجل في ليلتي, أنشئ صفحتك وابدأ في التواصل مع العرسان.</p>
            <a href="contact/join-us"> املأ الإستمارة ⬅</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="img">
            <img
              src="https://lilty.sgp1.cdn.digitaloceanspaces.com/home%2FNew%2Fphoto_2023-03-09_21-37-32.jpg"
              alt=""
            />
          </div>
          <div class="text">
            <h1>شركاء ليلتي</h1>
            <p>يمكنك البدء في إدارة حساب صفحتك على موقع ليلتي على الفور.</p>
            <a href="login"> إدارة صفحتك ⬅</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
