<!-- <div style="font-size: 40px; font-weight: 900; text-align: center;position: relative;top: 50%;">
  404
</div> -->
<div class="error">
  <div class="container">
    <div class="content">
    <div class="error-text">
      <h1>404</h1>
      <h2>عفوا! يبدو أن الصفحة قد اختفت.</h2>
      <p>الرابط معطل أو تم نقل الصفحة</p>
    </div>

    <div class="img">
      <img src="../../../../../../assets/images/error-img.png" alt="">
    </div>
    </div>
  </div>
</div>


