*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}
body{
  height: 100%;
}
.error{
  top: 20%;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 10%;
}

.container{
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}

.content{

    display: flex;
  align-items: center;
  justify-content: center;
}

.error-text{
  width: 100%;
  display: block;
}
.error-text h1{
  width: 100%;
  font-size: 100px;
  font-weight: 700;
  padding: 20px;
  font-family: "Tajawal", sans-serif;
}
.error-text h2 {
  width: 100%;
  font-size: 25px;
    margin-bottom: 20px;
  font-family: "Tajawal", sans-serif;
}
.error-text p {
  width: 100%;
  font-size: 21px;
    font-weight: 400;
    color: #252328;
    line-height: 31px;
  font-family: "Tajawal", sans-serif;
}

.img img{
  width: 300px;
  height: 300px;
}

@media(max-width : 700px)
{
  .container{
    padding: 0;
    width: 100%;
  }
  .content{
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  .error-text{
    padding: 20px;
  }
  .error{
    top: 1%;
  }
}

