* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
.container {
  padding-left: 160px;
  padding-right: 160px;
}
p.star {
  width: 30%;
  font-size: 15px;
  text-align: center;
  line-height: 0.7;
  color: #ffa912;
}
.data {
  /* width: 65%; */
  position: relative;
  top: 40px;
  width: 106%;
  height: 100%;
  margin-bottom: 60px;
  padding: 15px;
  font-size: 20px;
  color: #444;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}
.contact {
  display: flex;
  justify-content: space-around;
}
.text h2 {
  font-size: 20px;
  color: #444;
  font-family: "Tajawal", sans-serif;
}
.item a,.item {
  width: 150px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
  color: #444;
}
.item a:hover,.item:hover p{
  color: rgb(255, 77, 77);
}
i {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
i.whatsapp {
  color: #25d366;
}
@media (max-width: 720px) {
  .container {
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
  section .data {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .contact {
    flex-direction: column;
  }
  .item {
    margin-bottom: 10px;
  }
}
