<section>
  <div class="container">
    <div class="data">

      <div class="text">
        <h2>للتواصل معنا :</h2>
      </div>

      <div class="contact" *ngFor="let item of listing.listingSocialMedia" >
        <div class="item">
          <a  href=""><i class="fa-brands fa-whatsapp  whatsapp" ></i>
          <p>أرسل رسالة</p>
        </a>

        </div>

        <div class="item">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p *ngIf="item.socialMediaTyp == 'PHONE' ">{{item.path}}</p>
        </div>

        <div class="item">
          <a href="{{listing.email}}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <p>أرسل إيميل</p>
          </a>

      </div>
      </div>


  </div>
  </div>
</section>
