.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.text {
  padding: 20px;
}
.text p {
  font-size: 30px;
}
.link {
  padding: 20px;
}

.link button {
  cursor: pointer;
  user-select: none;
  font-size: 26px;
  background-color: rgba(244, 244, 13, 0.843);
  padding: 15px;
  border-radius: 10px;
}
img {
  width: 450px;
}

@media (max-width: 430px) {
  img {
    width: 280px;
  }
  .text p {
    font-size: 20px;
  }
  .link button {
    font-size: 20px;
  }
}
