<section>
  <div class="container">
    <div class="img">
      <img src="../../../../../assets/images/yello.svg" alt="">
    </div>
    <div class="text">
      <p>تم تفعيل الحساب بنجاح ✔</p>
    </div>
    <div class="link">
      <button routerLink="/">عودة للصفحة الرئيسية</button>
    </div>
  </div>
</section>
