* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  padding: 40px 0;
  background-color: #f6f5f7;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.text {
  text-align: center;
  padding: 10px;
}

.text h2 {
  font-family: "Tajawal", sans-serif;
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .form-main input,textarea{
  display: block;
  width: 500px;
  min-height: 52px;
  margin-bottom: 15px;
  margin-top: 15px;

  padding: 10px;
  font-size: 16px;
  counter-reset: #444;
  border: 1px solid #444;
    border-radius: 4px;
  border: none;
} */

mat-form-field {
  width: 500px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #444;
}

.form-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .mat-select-panel {
  position: absolute;
  margin-top: 40px;
}

/* .form {
  margin-bottom: 15px;
  width: 500px;
  height: 52px;
  font-size: 16px;
  border-color: #444;
} */

button {
  text-align: center;
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  border-radius: 10px;
  height: 52px;
  width: 150px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
}

hr {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: black;
}

mat-icon {
  color: #444;
}

@media (max-width: 550px) {
  .content,
  mat-form-field {
    width: 400px;
  }
  mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 430px) {
  .content,
  mat-form-field {
    width: 300px;
  }
  mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
  }
}
