<section>
  <div class="container">
    <div class="content">
      <div class="text">
        <h2>يمكنك التواصل معنا عن طريق تعبئة الاستمارة أدناه.</h2>
      </div>

      <div class="form-main">
        <form action="" [formGroup]="contactForm" (ngSubmit)="submit()">


          <mat-form-field>
            <mat-label>الإيميل</mat-label>
            <input matInput formControlName="email" />
            <mat-icon matSuffix>home</mat-icon>

          </mat-form-field>

         <mat-form-field  class="form" >
            <mat-label class="label">المنطقة  </mat-label>
            <mat-select formControlName="regions">
              <mat-option
                *ngFor="let category of regions"
                value="{{ category.name }}"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>الرسالة</mat-label>
            <textarea matInput formControlName="msg"></textarea>

          </mat-form-field>

          <button type="submit">أرسل الرسالة</button>
        </form>
      </div>
    </div>
  </div>
</section>

