@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.logo-div {
  padding-left: 15px;
  padding-right: 20px;
  display: block;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}
::ng-deep .mat-menu {
  position: absolute;
  margin-top: 43px;
  width: 100%;
  font-family: "Tajawal", sans-serif;
  border-radius: 0;
}
.burger {
  display: block;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-30%);
}
.listAndBtn {
  display: flex;
  flex-wrap: wrap;
}
.logo-div {
  display: block;
  position: relative;
  top: 65%;
  margin-left: 30px;
}
.logo {
  cursor: pointer;
  position: relative;
}
.logo img {
  position: absolute;
  width: 50px;
  bottom: -30%;
}
.list {
  position: absolute;
  right: 0;
}
.list-btn {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  outline: none;
  color: #000;
  background: none;
  font-family: "Tajawal", sans-serif;
}
::ng-deep .mat-menu-panel {
  margin-top: 20px;
  width: 200px;
 }

::ng-deep .mat-menu-content {
  border-radius: 1px;
  background-color: #fff;
  width: 200px;
  /* height: 80%; */
}
::ng-deep .mat-menu-item {
  line-height: 35px;
  height: 35px;
  font-family: "Tajawal", sans-serif;
}

.login {
  background-color: #00bda7;
  color: #fff;
  text-decoration: none;
  padding: 6px;
  font-size: 15px;
  transition: 0.3s;
  font-family: "Tajawal", sans-serif;
}
.login:hover {
  background-color: #1aa090;
}

.burger {
  display: none;
}
.burger i {
  font-size: 40px;
}
.list-all {
  transition: 3s;
}
.LogoAndBurger {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 940px) {
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .LogoAndBurger {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .list-btn {
    display: block;
    /* border-bottom: 1px solid #000; */
    /* width: 100%; */
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    /* margin-right: -10px; */
  }
  .list-all {
    transition: 5s;
    display: block;
    width: 100%;
    padding-right: 20px;
    text-align: center;
    position: absolute;
    right: 0%;
    height: 450px;
    top: 110%;
    /* transform: translateX(20%); */
    z-index: 90;
    background-color: #fff;
    display: none;
  }
  .list {
    position: absolute;
    width: 200%;
  }
}
button,a{
  cursor: pointer;
  user-select: none;
}
