<p class="header">
  <mat-toolbar>
    <div class="logo-div">
      <a href="#" class="logo"
        ><img
          src="../../../../../../assets/images/new-logo-black-removebg-preview.png"
          width="100px"
          style="padding-top: 100px"
          alt=""
      /></a>
    </div>
    <div [class.is-open]="openMenu" class="list-all" [style.display]="display">
      <button routerLink='' mat-button class="list-btn">الصفحات الرئيسية</button>

      <button mat-button [matMenuTriggerFor]="Vendors"  class="list-btn">
        البائعين
      </button>
      <mat-menu #Vendors="matMenu" [class]="'customize'">
        <button mat-menu-item [matMenuTriggerFor]="Listing">الصالات</button>
        <button mat-menu-item [matMenuTriggerFor]="List_Single">
          الصالة المناسبة لك
        </button>
        <a mat-menu-item href="vendors/vendors-by-category">البائعين حسب التصنيف</a>
        <a mat-menu-item href="vendors/vendors-by-location">البائعين حسب الموقع</a>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="Suppliers" class="list-btn">
        الموردين
      </button>

      <button mat-button [matMenuTriggerFor]="Real_Weddings" class="list-btn">
        حفلات الزفاف الحقيقية
      </button>

      <button mat-button [matMenuTriggerFor]="Blog" class="list-btn">
        المدونة
      </button>
      <mat-menu #Blog="matMenu">
        <a mat-menu-item href="blog/articles" >
           المقالات
        </a>
        <!-- <button mat-menu-item [matMenuTriggerFor]="Blog_Single">
          مدونة واحدة
        </button> -->
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="Features" class="list-btn">
        المميزات
      </button>
      <mat-menu #Features="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="Pages">الصفحات</button>
        <button mat-menu-item [matMenuTriggerFor]="Forms">نماذج</button>
        <button mat-menu-item [matMenuTriggerFor]="Help_Center">
          مركز المساعدة
        </button>
        <button mat-menu-item [matMenuTriggerFor]="Forms">نماذج</button>
        <button mat-menu-item [matMenuTriggerFor]="Email_Templates">
          قوالب البريد الإلكتروني
        </button>
        <button mat-menu-item [matMenuTriggerFor]="Forms">نماذج</button>
        <button mat-menu-item>عناصر</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="User_Panel" class="list-btn">
        لوحة معلومات المستخدم
      </button>
      <mat-menu #User_Panel="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="Vendor_Dashboard">
          لوحة معلومات البائع
        </button>
        <button mat-menu-item [matMenuTriggerFor]="Couple_Dashboard">
          لوحة معلومات الزوجان
        </button>
        <button mat-menu-item>RSVP</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="User_Panel" class="list-btn">
        لوحة الزوجين
      </button>
      <mat-menu #Couple_Panel="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="Vendor_Dashboard">
          لوحة معلومات البائع
        </button>
        <button mat-menu-item [matMenuTriggerFor]="Blog_Single">
          لوحة معلومات الزوجان
        </button>
        <button mat-menu-item>من فضلك، أرسل رد</button>
      </mat-menu>

      <mat-menu #Listing="matMenu">
        <a mat-menu-item href="vendors/listings/قاعات%20الزفاف/1/الرياض/1">
          عرض الصالات بشكل مخطط
        </a>
        <button mat-menu-item>عرض الصالات SlidBar</button>
        <button mat-menu-item>عرض الصالات مع الخريطة</button>
      </mat-menu>

      <mat-menu #List_Single="matMenu">
        <a mat-menu-item href="home/list_single/1">الصالة</a>
        <!-- <button mat-menu-item>قائمة واحدة 2</button> -->
        <button mat-menu-item>عرض الصالة مع فيديو</button>
        <button mat-menu-item>عرض الصالة مع معرض الصور</button>
      </mat-menu>

      <mat-menu #Suppliers="matMenu">
        <a mat-menu-item href="suppliers/dresses">الفساتين</a>
        <a mat-menu-item href="suppliers/cakes">قوالب الحلوى</a>
        <a mat-menu-item href="suppliers/florists">منسقين الأزهار</a>
        <a mat-menu-item href="suppliers/photo-graphers">المصورين</a>
        <a mat-menu-item href="suppliers/video-graphers">مصورين الفيديو</a>
      </mat-menu>

      <mat-menu #Real_Weddings="matMenu">
        <button mat-menu-item>قائمة الزفاف الحقيقية</button>
        <button mat-menu-item>الزفاف الحقيقي الفردي</button>
      </mat-menu>

      <!-- <mat-menu #Blog_Listing="matMenu">
        <button mat-menu-item>قائمة</button>
        <button mat-menu-item>تقليدي</button>
      </mat-menu> -->
      <mat-menu #Blog_Single="matMenu">
        <button mat-menu-item>مدونة واحدة</button>
        <button mat-menu-item>مدونة بملء الشاشة الواحدة</button>
      </mat-menu>

      <mat-menu #Pages="matMenu">
        <button mat-menu-item>لمحة عنا</button>
        <button mat-menu-item>قابل الفريق</button>
        <button mat-menu-item>التسعير</button>
        <a mat-menu-item href="/notFound">404</a>
        <button mat-menu-item>أسئلة وأججوبة</button>
        <button mat-menu-item>تواصل معنا</button>
        <button mat-menu-item>مواقع البائعين</button>
      </mat-menu>

      <mat-menu #Forms="matMenu">
        <button mat-menu-item>نموذج الباعة</button>
        <button mat-menu-item>نموذج الزوجين</button>
        <button mat-menu-item>هل نسيت كلمة المرور ؟</button>
      </mat-menu>

      <mat-menu #Help_Center="matMenu">
        <button mat-menu-item>مركز المساعدة</button>
        <button mat-menu-item>قائمة فئات المساعدة</button>
        <button mat-menu-item>فئة المساعدة واحدة</button>
      </mat-menu>

      <mat-menu #Email_Templates="matMenu">
        <button mat-menu-item>كلمة مرور جديدة</button>
        <button mat-menu-item>إعادة تعيين كلمة مرور</button>
        <button mat-menu-item>هل نسيت كلمة المرور ؟</button>
      </mat-menu>

      <mat-menu #Vendor_Dashboard="matMenu">
        <button mat-menu-item>لوحة التحكم</button>
        <button mat-menu-item>قائمة</button>
        <button mat-menu-item>إضافة قائمة</button>
        <button mat-menu-item>التسعير</button>
        <button mat-menu-item>طلب اقتباس</button>
        <button mat-menu-item>المراجعات</button>
        <button mat-menu-item>الحساب الشخصي</button>
      </mat-menu>

      <mat-menu #Couple_Dashboard="matMenu">
        <button mat-menu-item>لوحة القيادة</button>
        <button mat-menu-item>قائمتي</button>
        <button mat-menu-item>قائمة المهام</button>
        <button mat-menu-item>الميزانية</button>
        <button mat-menu-item>مدير الضيف</button>
        <button mat-menu-item>إضافة ضيف جديد</button>
        <button mat-menu-item>طاولة جلوس</button>
        <button mat-menu-item>الحساب الشخصي</button>
      </mat-menu>
    </div>

    <div class="burger" (click)="onClick()">
      <i
        class=""
        aria-hidden="true"
        id=" menu-icon"
        [className]="className"
      ></i>
    </div>

    <div>
      <a *ngIf="!isRegistered" href="login" class="login">تسجيل/تسجبل الدخول</a>
      <a (click) ="logout()" *ngIf="isRegistered" class="login">تسجيل خروج </a>
    </div>
  </mat-toolbar>
</p>
