<form [formGroup]="categoriesForm">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>description </mat-label>
    <input matInput type="text" formControlName="description" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>name </mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>active </mat-label>
    <input matInput type="text" formControlName="active" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>cover_img </mat-label>
    <input matInput type="text" formControlName="cover_img" />
  </mat-form-field>




</form>
<form  [formGroup]="attrForm">
  <mat-form-field appearance="outline" class="example-full-width" >
    <mat-label>planType </mat-label>
    <input matInput type="text" formControlName="unit" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width" >
    <mat-label>valueType </mat-label>
    <input matInput type="text" formControlName="valueType" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width" >
    <mat-label>attributeType </mat-label>
    <input matInput type="text" formControlName="attributeType" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width" >
    <mat-label>name </mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>


</form>
