* {
  direction: rtl;
}
/* div,
form,
input,
select,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: rgb(37, 35, 40);
} */
.container {
  /* margin-top: 60px; */
  width: 25%;
  float: left;
  height: 100%;
  padding-right: 85px;
  padding-left: 100px;
  padding-bottom: 100px;
  margin-right: 30px;
  margin-top: 0px;
  /* position: sticky; */
  /* top: 30px; */
  /* margin-right: auto;
    margin-left: auto; */
}
h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
}
h2 {
  margin: 0 0 0 8px;
  font-family: "Tajawal", sans-serif;
}
form {
  top: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

textarea {
  background-color: #fff;
  text-align: right;
  border: 1px solid rgb(185, 166, 166);
}
textarea::placeholder {
  padding: 10px;
  color: rgb(37, 35, 40);
}

.left-part,
form {
  padding: 25px;
}
.left-part {
  text-align: center;
}
.fa-graduation-cap {
  font-size: 72px;
}
.title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
i {
  padding-left: 10px;
  color: rgb(37, 35, 40);
  /* background-color: rgb(37, 35, 40); */
}
.info {
  display: flex;
  flex-direction: column;
}
input,
select {
  /* width: 100px; */
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid rgb(185, 166, 166);
  color: rgb(0, 0, 0);
  text-align: right;
  font-size: 16px;
}
textarea {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: right;
}
textarea::placeholder {
  padding: 0;
}
input::placeholder {
  color: rgb(37, 35, 40);
}
option:focus {
  border: none;
}
option {
  background: black;
  border: none;
}
.checkbox input {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.checkbox a {
  color: #26a9e0;
}
.checkbox a:hover {
  color: #85d6de;
}
.btn-item,
button {
  padding: 10px 5px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background: rgb(255, 77, 77);
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.btn-item {
  display: inline-block;
  margin: 20px 5px 0;
}
button {
  width: 100%;
}
button:hover,
.btn-item:hover {
  background: rgb(253, 60, 60);
}
@media (min-width: 568px) {
  html,
  body {
    height: 100%;
  }
  .main-block {
    flex-direction: row;
    height: calc(100% - 50px);
  }
  .left-part,
  form {
    flex: 1;
    height: auto;
  }
}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #fff;
}
.img img {
  border-radius: 50%;
}
.img h4 {
  padding-top: 8px;
}

@media (max-width: 710px) {
  .container {
    margin-right: 10px;
    margin-left: 10px;
    display: none;
  }
  section .content {
    width: 100%;
  }
}

.handle {
  /* padding: 5px; */
  color: red;
  margin-bottom: 5px;
  margin-top: -5px;
}
