<div class="container">
  <form action="/" (ngSubmit)="submit()" [formGroup]="bookForm">
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>طلب السعر</h2>
    </div>
    <div class="info">
      <span
        class="handle"
        *ngIf="userInp && userInp.invalid && userInp.touched"
      >
        هذا الحقل مطلوب
      </span>
      <input
        class="fname"
        type="text"
        formControlName="user"
        name="name"
        placeholder="الإسم"
      />
      <span
        class="handle"
        *ngIf="emailInp && emailInp.invalid && emailInp.touched"
      >
        يرجى إدخال إيميل صالح
      </span>
      <input
        type="text"
        name="name"
        formControlName="email"
        placeholder="الإيميل"
      />
      <span
        class="handle"
        *ngIf="phoneInp && phoneInp.invalid && phoneInp.touched"
      >
        هذا الحقل مطلوب
      </span>
      <input
        type="text"
        name="name"
        formControlName="phone"
        placeholder="رقم الهاتف"
      />

      <span
        class="handle"
        *ngIf="dateInp && dateInp.invalid && dateInp.touched"
      >
        هذا الحقل مطلوب
      </span>
      <input
        formControlName="date"
        class="date-input"
        matInput
        [matDatepicker]="picker"
        placeholder="تاريخ حفل الزفاف"
      />
      <mat-datepicker-toggle
        style="margin-left: -30px"
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <span
        class="handle"
        *ngIf="placeInp && placeInp.invalid && placeInp.touched"
      >
        هذا الحقل مطلوب
      </span>
      <input
        type="text"
        name="name"
        formControlName="place"
        placeholder="مكان حفل الزفاف"
      />

      <textarea
        name=""
        id=""
        cols="20"
        rows="5"
        placeholder=" الرسالة"
        style="resize: vertical"
      ></textarea>
    </div>
    <button type="submit" href="/">إطلب السعر</button>
  </form>

  <!-- <div class="img">
        <img src="../../../../../../assets/images/admin-pic.jpg" alt="">
        <h4>Roberto F. McGill</h4>
      </div> -->
</div>
