<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<section>
  <div class="container">
    <div class="hero">
      <div class="text">
        <h3>{{ listing.title }}</h3>
        <mat-icon> location_on</mat-icon>
        <p>
          {{ this.listing.country }}, {{ this.listing.region }},
          {{ this.listing.district }} <a href="#">عرض الخريطة</a>
        </p>
      </div>
      <div class="btns">
        <!-- <a routerLink="/image-slider" class="gallery">عرض المعرض</a> -->
        <!-- <a href="#" class="wishlist">إضافة إلى قائمة الأمنيات<span>♥</span></a> -->
      </div>
    </div>
  </div>
</section>
