* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  direction: rtl;
}

section {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  margin-top: 20px;
  background-color: #fff;
  color: #444;
  height: 200px;
  z-index: -2;
  border: 1px solid rgba(0,0,0,.125);
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}

@media (max-width: 925px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 820px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  padding-bottom: 30px;
}



@media (max-width: 720px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }

}

@media (max-width: 420px) {

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero .text h3 {
    font-size: 10px;
  }
}

.hero .text {
  display: block;
  color: #444;
  pad: 20px;
}

.hero .text i{
  font-size: 20px;
}

.hero .text h3 {
  font-size: 40px;
  line-height: 58px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  color: #444;

  font-family: "Tajawal", sans-serif;
}

.hero .text p {
  color: rgb(255, 255, 255);
  color: #444;
  
  font-size: 18px;
}

.hero .text p a {
  font-size: 17px;
  color: #ed6e6e;
  font-weight: 500;
  padding-bottom: 1px;
  transition: 0.3s;
}

.hero .text p a:hover {
  color: #fff;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns .gallery {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 5px;
  background-color: #00bda7;
  padding: 5px 10px;
  transition: 0.3s;
  text-align: center;
  width: 110px;
}
.btns .gallery:hover {
  background-color: #05ae9b;
}

.btns .wishlist {
  text-decoration: none;
  color: #ff4d4d;
  display: inline-block;
  margin-left: 5px;
  background-color: #fff;
  padding: 5px 10px;
  transition: 0.3s;
  width: 180px;
}

.btns .wishlist:hover {
  color: #fff;
  background-color: #ff4d4d;
}

.btns .wishlist span {
  font-size: 20px;
  margin-right: 5px;
}

/* .container {
    padding-right: 100px;
    padding-left: 100px;
}

.hero{
  background-image:url(../../../../../../assets/images/venue-pageheader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 7vh;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 40px;
}
.hero-content{
  display: block;
  position: absolute;
  top: 35%;
  color: #fff;
}
.content{
  display: block;
}
.hero-content h1{
  font-size: 40px;
  padding: 10px;
}
a.map{
  color:#fff;
  font-size: 13px;
  text-decoration: none;
  position: relative;
}
a.map::before{
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: -2px;
  background-color: #fff;
  left: 10px;
}
a.map:hover{
  color: crimson;
}
p{
  padding: 10px;
  padding-top: 0;
}
.gallery{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 5px;
  background-color: #00bda7;
  padding: 5px 10px;
  transition: 0.3s;
}
.gallery:hover{
  color:crimson ;
  background-color:#0aac99 ;
}
a.wishes{
  text-decoration: none;
  color: crimson;
  display: inline-block;
  margin-left: 5px;
  background-color: #fff;
  padding: 5px 10px;
}
a.wishes::before{
  content: '❤';
  padding-left: 3px;
}
a.wishes:hover{
  color: #fff;
  background-color: crimson;
} */
