* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "Tajawal", sans-serif;
}
.close{
  text-align: right;
}
.close .btn button{
  padding:0 10px ;
  font-size: 40px;
  font-weight: bold;
    color: #333;
}
.close .btn button:hover{
  color: red;
  background-color: #f7f6f6;
  transition: .3s;
  cursor: pointer;
}
 textarea {
  width: 100%;
  max-width: 100%;
}
.input {
  margin: 5px;
  padding-left: 0;
}
.form {
  padding: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
form {
  width: 100%;
  overflow: hidden;
}
::ng-deep mat-label {
  font-size: 18px;
  color: #414141;
}
label.img {
  font-size: 18px;
  background-color: rgb(0, 85, 255);
  padding: 8px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
}

input,
mat-select {
  padding: 4px;
  font-size: 18px;
  color: #414141;
}
::ng-deep .mat-select-panel {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  font-family: "Tajawal", sans-serif;
  border-radius: 0;
  padding: 10px;
}
.img {
  margin-bottom: 30px;
}
.btns {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.btn button {
  font-size: 18px;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.btns .btn .add {
  background-color: rgb(0, 85, 255);
  width: 250px;
}
.btns .btn .reset {
  background-color: rgb(69, 213, 37);
  width: 150px;
}
@media (max-width: 630px) {
  img {
    width: 100%;
  }
}
button:disabled {
  opacity: 0.6;
}
.employees {
  padding: 20px 0;
}
.heas-emp {
  font-family: "Tajawal", sans-serif;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.remove-emp-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-emp {
  background-color: #c61d21;
  color: #fff;
  font-size: 20px;
  font-family: "Tajawal", sans-serif;
  width: 100px;
  margin-top: -20px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}
.add-emp button {
  background-color: rgb(0, 89, 255);
  color: #fff;
  font-size: 16px;
  font-family: "Tajawal", sans-serif;
  padding: 10px;
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.file {
  padding: 20px 0;
  width: 180px;
  cursor: pointer;
}
.label {
  background-color: rgb(0, 85, 255);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  display: block;

}
.file-name {
  padding: 10px 0;
  padding-left: 10px;
  width: 100%;
  width: 200%;
}
.file-name p b {
  font-size: 18px;
}
textarea {
  font-size: 18px;
  resize: vertical;
}
.release_date::placeholder {
  color: #333;
}

.tags {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust the number of columns as needed */
  grid-gap: 10px; /* Adjust the gap between grid items as needed */
}

.tag-input input {
  width: 18px;
  cursor: pointer;
}

.tag-name p {
  font-size: 18px;
  margin: 2px 0 0 5px;
}

.tag-input {
  display: flex;
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  justify-content: center;
  justify-content: center;
  text-align: center;
}
.upload{
  cursor: pointer;
}
.close{
  text-align: right;
}
.close .btn button{
  padding:0 10px ;
  font-size: 40px;
  font-weight: bold;
    color: #333;
}
.close .btn button:hover{
  color: red;
  background-color: #f7f6f6;
  transition: .3s;
  cursor: pointer;
}



.header {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: black;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  border: none;
}

.footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  text-align: center;
  margin-top: 10px;
}

#file {
  display: none;
}
.upload-btn{
  background-color: #333;
  color: #f7f6f6;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
h2{
  font-family: "Tajawal", sans-serif;
}
ol{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: decimal;
}
ol li{
  font-size: 20px;
}
.cover-image{
  padding: 15px;
  padding-left: 0;
}
.cover-image img{
  width: 300px;
}
.drops{
  padding: 20px;
}
.menu-mat {
  position: relative;
  background-color: #fff;
  color: #000;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.9px #2a2f3b solid;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  font-family: "Tajawal", sans-serif;
  font-weight: normal;
  margin-left: 10px;
}
.form1 {
  margin-left: 10px;
  width: 250px;
  height: 52px;
  background-color: #fff;
}
.list {
  position: absolute;
  width: 100px;
  transition: 10s;
}
.item {
  padding-left: 10px;
  text-align: left;
}
.item:hover {
  background-color: #dbdbdd;
}
::mat-form-field {
  /* position: relative; */
  font-family: "Tajawal", sans-serif;
  margin: 10px;
  background-color: #26489a;
}

::ng-deep .mat-select-panel {
  position: absolute;
  margin-top: 43px;
  width: 100%;
  font-family: "Tajawal", sans-serif;
  border-radius: 0;
}
.select2-container--default .select2-results__option[aria-selected=true] {
        background-color: inherit;
        color: lightgray;
    }



