<section>
  <div class="container">
    <div class="close">
      <div class="btn">
        <button (click)="close()" type="button">X</button>
      </div>
    </div>
    <div class="content" style="margin-top: 20px">
      <div class="head">
        <h1>إضافة مقالة فرعية</h1>
      </div>
      <div class="form">
        <form action="" [formGroup]="addMiniArticleForm">
          <div class="input">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label> عنوان المقالة</mat-label>
              <input formControlName="title" matInput type="text" />
            </mat-form-field>
          </div>

          <mat-form-field
            appearance="outline"
            class="example-full-width"
            style="width: 100%"
          >
            <mat-label>محتوى المقالة </mat-label>
            <textarea
              formControlName="content"
              matInput
              name=""
              id=""
              cols="30"
              rows="5"
            ></textarea>
          </mat-form-field>

          <!-- <mat-divider style="margin-bottom: 20px"></mat-divider> -->

          <div class="input">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label> id الإعلان</mat-label>
              <input formControlName="listing_id" matInput type="number" />
            </mat-form-field>
          </div>

          <mat-divider style="margin-bottom: 20px"></mat-divider>

          <div>
            <div class="btns">
              <div class="btn">
                <button (click)="addMiniArticle()" class="add">
                  اضافة المقالة الفرعية
                </button>
              </div>
              <div class="btn">
                <button class="reset">إعادة تعيين</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
