
<section>
          <!-- <div>Some tags before</div>
    <owl-carousel-o [options]="customOption">
    <ng-template carouselSlide [width]='200'><img src="../../../../../../assets/images/category-location-img-1.jpg" alt=""></ng-template>
    <ng-template carouselSlide [dataMerge]=2><img src="../../../../../../assets/images/category-location-img-2.jpg" alt=""></ng-template>
    <ng-template carouselSlide><img src="../../../../../../assets/images/category-location-img-3.jpg" alt=""></ng-template>
    <ng-template carouselSlide><img src="../../../../../../assets/images/category-location-img-4.jpg" alt=""></ng-template>
    <ng-template carouselSlide><img src="../../../../../../assets/images/category-location-img-5.jpg" alt=""></ng-template>
  </owl-carousel-o> -->

  <div class="container">
    <div class="cards">
      <div class="card" *ngFor="let category of categories">
        <picture>
          <div class="img">
            <a href="#">
            <img src="../../../../../../assets/images/wedding-dj-small.jpg" alt="">
            </a>
          </div>
        </picture>

        <div class="category">
          <div class="text">
            <a href="listings/category/{{category.name}}/{{category.id}}">{{category.name}} </a>
            <span>(12)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
