*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  padding-left: 160px;
  padding-right: 160px;
}

.cards{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 10px;
}

.card{
  display: block;
  /* margin-top: 30px; */
    border: 1px solid #e6e5e7;
    padding: 4px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;

    width: 250px;
}

@media(max-width :975px)
{
  .container{
    width: 100%;
    padding: 0;
  }
  .card{
    width: 100%;
  }
  
}

picture{
  overflow: hidden;
}

.img{
  overflow: hidden;
}

picture .img img{
  width: 100%;
  transition: 0.5s;
}

picture:hover .img img{
  transform: scale(1.1);
}

.text{
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.text a{
  text-decoration: none;
  color: #252328;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  transition: 0.2s;
  overflow: hidden;
}

.text a:hover{
  color: rgb(255, 77, 77);
}

.text span{
  color: rgb(255, 77, 77);
}
