<section *ngIf="GenAtt">
  <div class="container">
    <div class="content">
      <div class="heading">
        <h2>الميزات العامة ل{{ listing.title }}</h2>
        <hr />
      </div>
      <div class="items">
        <div class="col">
          <ul>
            <p *ngFor="let item of listing.attributeValueList">
              <li
                class="f1"
                *ngIf="item.typ === 'GENERAL' && item.value == 'true'"
              >
                {{ item.attribute }}
              </li>
              <li *ngIf="item.typ === 'GENERAL' && item.value == 'false'">
                <del>{{ item.attribute }}</del>
              </li>
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="SecAtt">
  <div class="container">
    <div class="content">
      <div class="heading">
        <h2>الميزات الثانوية ل{{ listing.title }}</h2>
        <hr />
      </div>
      <div class="items">
        <div class="col">
          <ul>
            <p *ngFor="let item of listing.attributeValueList">
              <li class="f2" *ngIf="item.typ === 'SECONDARY'">
                {{ item.attribute }}
              </li>
              <li *ngIf="item.typ === 'SECONDARY' && item.value == 'false'">
                <del>{{ item.attribute }}</del>
              </li>
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="CovAtt">
  <div class="container">
    <div class="content">
      <div class="heading">
        <h2>الإجرائات الوقائية من كوفيد - 19 ل{{ listing.title }}</h2>
        <hr />
      </div>
      <div class="items">
        <div class="col">
          <ul>
            <p *ngFor="let item of listing.attributeValueList">
              <li class="f3" *ngIf="item.typ === 'COVID'">
                {{ item.attribute }}
              </li>
              <li *ngIf="item.typ === 'COVID' && item.value == 'false'">
                <del>{{ item.attribute }}</del>
              </li>
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
