* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}
.container {
  margin-right: 160px;
  /* padding-left: 160px; */
}
section {
  margin-bottom: 30px;
}
h2 {
  font-family: "Tajawal", sans-serif;
}
hr {
  position: absolute;
  width: 100%;
  margin-bottom: 10px;
  background-color: #000;
  opacity: 0.4;
  right: 0;
}
.content {
  position: relative;
  /* display: block; */
  width: 60%;
  padding: 26px;

  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: block; */
}

.col {
  padding: 10px;
}
ul {
  list-style: disc;
}
li {
  padding-left: 20px;
  line-height: 30px;
  color: rgb(79, 74, 81);
}
li::marker {
  font-size: 20px;
  color: #fa4e4e;
  text-align: center;
}

@media (max-width: 720px) {
  .content {
    width: 100%;
  }
  .container {
    margin-right: 10px;
    margin-left: 10px;
  }
  .items {
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 380px) {
  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .col2 {
    margin-top: -20px;
  }
}
